{% extends 'PFCDTourismBundle:Front:layout.html.twig' %}

{% form_theme form 'PFCDTourismBundle:Form:fields.html.twig' %}

{% block title %}{{ 'Reservation'|trans }}{% endblock%}

{% block body %}
<h1>{{ 'front.reservation.create.title'|trans }}</h1>
<p>{{ 'front.reservation.create.subtitle'|trans }}</p>

<div class="well">
    <h3>{{ 'front.reservation.summary.title'|trans }}:</h3>
    <hr style="margin-top: 0"/>
    <p><b>{{ 'front.reservation.summary.organization'|trans }}</b>: {{ session.activity.organization.name }}</p>
    <p><b>{{ 'front.reservation.summary.activity'|trans }}</b>: {{ session.activity.title }}</p>
    <p><b>{{ 'front.reservation.summary.sessiondate'|trans }}</b>: {{ session.date|date('Y-m-d') }}</p>
    <p><b>{{ 'front.reservation.summary.sessiontime'|trans }}</b>: {% if session.time %}{{ session.time|date('H:i') }}{% else %}{{ 'front.reservation.summary.sessiontime.undefined'|trans }}{% endif %}</p>
    <p><b>{{ 'front.reservation.summary.availability'|trans }}</b>: {% set capacity = session.activity.capacity %}{% for reservation in session.reservations %}{% set capacity = capacity - reservation.persons %}{% endfor %}{{ capacity }}</p>
</div>

{% if session.status == 1 and session.activity.status == 1 and session.activity.organization.status == 1 and user.status == 1 %}
<form class="form-horizontal" action="{{ path('front_reservation_create', { 'activityId': app.request.get('activityId'), 'sessionId': app.request.get('sessionId') }) }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <div class="form-actions">
        <button class="btn btn-success" type="submit"><i class="icon-ok icon-white"></i> {{ 'Create'|trans }}</button>
        <a class="btn btn-inverse" href="{{ path('front_activity_read', { 'id': app.request.get('activityId') }) }}"><i class="icon-remove icon-white"></i> {{ 'Cancel'|trans }}</a>
        <span class='field-required-desc'>*</span> <b>{{ 'form.field.required.help'|trans }}</b>
    </div>
</form>
{% elseif user.status != 1 %}
<div class="alert alert-error fade in"><button class="close" data-dismiss="alert">×</button>{{ 'alert.error.reservation.lockeduser'|trans({ '%link%': path('front_contact') })|raw }}</div>
{% elseif session.activity.organization.status != 1 %}
<div class="alert alert-error fade in"><button class="close" data-dismiss="alert">×</button>{{ 'alert.error.reservation.lockedorganization'|trans({ '%link%': path('front_contact') })|raw }}</div>
{% elseif session.activity.status != 1 %}
<div class="alert alert-error fade in"><button class="close" data-dismiss="alert">×</button>{{ 'alert.error.reservation.lockedactivity'|trans({ '%link%': path('front_organization_contact', { 'id': session.activity.organization.id }) })|raw }}</div>
{% elseif session.status != 1 %}
<div class="alert alert-error fade in"><button class="close" data-dismiss="alert">×</button>{{ 'alert.error.reservation.lockedsession'|trans({ '%link%': path('front_organization_contact', { 'id': session.activity.organization.id }) })|raw }}</div>
{% endif %}
{% endblock %}