{% extends 'PFCDTourismBundle:Front:layout.html.twig' %}

{% block body %}
<h1>{{ 'front.reservation.index.title'|trans }}</h1>
<p>{{ 'front.reservation.index.subtitle'|trans }}</p>

<table class="table table-condensed">
    <thead>
        <tr>
            <th>{{ 'View'|trans }}</th>
            <th>{{ 'Activity'|trans }}</th>
            <th>{{ 'Persons'|trans }}</th>
            <th>{{ 'Session'|trans }}</th>
            <th>{{ 'Created'|trans }}</th>
            <th>{{ 'Status'|trans }}</th>
            <th>{{ 'Payment'|trans }}</th>
            {#<th>{{ 'Edit'|trans }}</th>#}
        </tr>
    </thead>
    <tbody>
    {% for reservation in reservations %}
    <tr class="status-{{ reservation.status }}">
        <td style="text-align:center"><a href="{{ path('front_reservation_read', { 'id': reservation.id }) }}"><i class="icon-eye-open"></i></a></td>
        <td><a href="{{ path('front_activity_read', { 'id': reservation.session.activity.id }) }}">{{ reservation.session.activity.title|truncate(50) }}</a></td>
        <td style="text-align:center">{{ reservation.persons }}</td>
        <td style="text-align:center">{% if reservation.session.date %}{{ reservation.session.date|date('Y-m-d') }}{% endif %}{% if reservation.session.time %} ({{ reservation.session.time|date('H:i') }}){% endif %}</td>
        <td style="text-align:center">{% if reservation.created %}{{ reservation.created|date('Y-m-d') }}{% endif %}</td>
        <td style="text-align:center">{{ reservation.statusText|trans }}</td>
        <td style="text-align:center">{% if reservation.payment %}<a href="{{ path('front_payment_read', { 'id': reservation.payment.id }) }}"><i class="icon-inbox"></i></a> {{ reservation.payment.statusText|trans }}{% endif %}</td>
        {#<td><a href="{{ path('front_reservation_update', { 'id': reservation.id }) }}"><i class="icon-edit"></i></a></td>#}
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}