{% extends 'PFCDTourismBundle:Front:layout.html.twig' %}

{% import "PFCDTourismBundle::macros.html.twig" as macros %}

{% block body %}
<h1>{{ 'front.reservation.read.title'|trans }}</h1>
<p>{{ 'front.reservation.read.subtitle'|trans }}</p>

<table class="table table-condensed">
    <colgroup class="first-column"></colgroup>
    <tbody>
        <tr>
            <th>{{ 'Organization'|trans }}</th>
            {% if reservation.session.activity.organization.status == 1 or reservation.session.activity.organization.status == 2 %}
            <td><a href="{{ path('front_organization_read', { 'id': reservation.session.activity.organization.id }) }}">{{ reservation.session.activity.organization.name }}</a></td>
            {% else %}
            <td>{{ reservation.session.activity.organization.name }}</td>
            {% endif %}
        </tr>
        <tr>
            <th>{{ 'Activity'|trans }}</th>
            {% if reservation.session.activity.status == 1 or reservation.session.activity.status == 2 %}
            <td><a href="{{ path('front_activity_read', { 'id': reservation.session.activity.id }) }}">{{ reservation.session.activity.title }}</a></td>
            {% else %}
            <td>{{ reservation.session.activity.title }}</td>
            {% endif %}
        </tr>
        <tr>
            <th>{{ 'Persons'|trans }}</th>
            <td>{{ reservation.persons }}</td>
        </tr>
        <tr>
            <th>{{ 'Session date'|trans }}</th>
            <td>{% if reservation.session.date %}{{ reservation.session.date|date('Y-m-d') }}{% endif %}</td>
        </tr>
        <tr>
            <th>{{ 'Session time'|trans }}</th>
            <td>{% if reservation.session.time %}{{ reservation.session.time|date('H:i') }}{% endif %}</td>
        </tr>
        <tr>
            <th>{{ 'Payment'|trans }}</th>
            <td>{% if reservation.payment %}<a href="{{ path('front_payment_read', { 'id': reservation.payment.id }) }}"><i class="icon-inbox"></i></a>{% endif %}</td>
        </tr>
        <tr>
            <th>{{ 'Created'|trans }}</th>
            <td>{{ reservation.created|date('Y-m-d H:i') }}</td>
        </tr>
        <tr>
            <th>{{ 'Updated'|trans }}</th>
            <td>{{ reservation.updated|date('Y-m-d H:i') }}</td>
        </tr>
        <tr>
            <th>{{ 'Status'|trans }}</th>
            <td>{{ reservation.statusText|trans }}</td>
        </tr>
    </tbody>
</table>

{#<a class="btn btn-primary" href="{{ path('front_reservation_update', { 'id': reservation.id }) }}"><i class="icon-pencil icon-white"></i> {{ 'front.reservation.button.update'|trans }}</a>#}
<a class="btn btn-inverse" href="{{ path('front_reservation_index') }}"><i class="icon-list-alt icon-white"></i> {{ 'front.reservation.button.index'|trans }}</a>
<form id="delete_reservation_form" class="pull-right" action="{{ path('front_reservation_delete', { 'id': reservation.id }) }}" method="post">
    {{ form_widget(delete_form) }}
    <button class="btn btn-danger" type="submit"><i class="icon-trash icon-white"></i> {{ 'front.reservation.button.delete'|trans }}</button>
</form>

{{ macros.modalConfirm('delete_reservation_form', 'delete_modal') }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
    $('#delete_reservation_form').submit(function() { if (!$(this).data('show-confirm')) { $('#delete_modal').modal('show'); return false; } });
    $('#delete_modal').on('show', function() { $('#delete_reservation_form').data('show-confirm', true); });
    $('#delete_modal').on('hide', function() { $('#delete_reservation_form').data('show-confirm', false); });
</script>
{% endblock %}