{% extends 'PFCDTourismBundle:Back:layout.html.twig' %}

{% set sectiontab = 'payment' %}

{% block body %}
<h1>{{ 'back.payment.read.title'|trans }}</h1>
<p>{{ 'back.payment.read.subtitle'|trans }}</p>

<table class="table table-striped table-bordered table-condensed">
    <tbody>
        <tr>
            <th>{{ 'Id'|trans }}</th>
            <td>{{ payment.id }}</td>
        </tr>
        <tr>
            <th>{{ 'User'|trans }}</th>
            <td>{% if payment.reservation.user %}{{ payment.reservation.user.fullname }} ({{ payment.reservation.user.email }}){% endif %}</td>
        </tr>
        <tr>
            <th>{{ 'Activity'|trans }}</th>
            <td>{{ payment.reservation.session.activity.title }}</td>
        </tr>
        <tr>
            <th>{{ 'Persons'|trans }}</th>
            <td>{{ payment.reservation.persons }}</td>
        </tr>
        <tr>
            <th>{{ 'Type'|trans }}</th>
            <td>{{ payment.typeText }}</td>
        </tr>
        <tr>
            <th>{{ 'Price'|trans }}</th>
            <td>{{ payment.price }}{{ payment.currency.sign }}</td>
        </tr>
        <tr>
            <th>{{ 'Comment'|trans }}</th>
            <td>{{ payment.comment }}</td>
        </tr>
        <tr>
            <th>{{ 'Session date'|trans }}</th>
            <td>{% if payment.reservation.session.date %}{{ payment.reservation.session.date|date('Y-m-d') }}{% endif%}</td>
        </tr>
        <tr>
            <th>{{ 'Session time'|trans }}</th>
            <td>{% if payment.reservation.session.time %}{{ payment.reservation.session.time|date('H:i') }}{% endif%}</td>
        </tr>
        <tr>
            <th>{{ 'Reservation'|trans }}</th>
            <td>{% if payment.reservation %}<a href="{{ path('back_reservation_read', { 'id': payment.reservation.id }) }}"><i class="icon-book"></i></a>{% endif %}</td>
        </tr>
        <tr>
            <th>{{ 'Created'|trans }}</th>
            <td>{{ payment.created|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>{{ 'Updated'|trans }}</th>
            <td>{{ payment.updated|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>{{ 'Status'|trans }}</th>
            <td>{{ payment.statusText }}</td>
        </tr>
    </tbody>
</table>

<a class="btn btn-primary" href="{{ path('back_payment_update', { 'id': payment.id }) }}"><i class="icon-pencil icon-white"></i> {{ 'back.payment.button.update'|trans }}</a>
<a class="btn btn-inverse" href="{{ path('back_payment_index') }}"><i class="icon-list-alt icon-white"></i> {{ 'back.payment.button.index'|trans }}</a>
{% endblock %}