{% extends 'PFCDTourismBundle:Front:layout.html.twig' %}

{% import "PFCDTourismBundle::macros.html.twig" as macros %}

{% block title %}{{ 'User profile'|trans }}{% endblock%}

{% block body %}
<h1>{{ 'front.user.read.title'|trans }}</h1>
<p>{{ 'front.user.read.subtitle'|trans }}</p>
       
<table class="table table-condensed">
    <tbody>
        {# Public profile info #}
        <tr>
            <th>{{ 'Firstname'|trans }}</th>
            <td>{{ user.firstname }}</td>
        </tr>
        <tr>
            <th>{{ 'Lastname'|trans }}</th>
            <td>{{ user.lastname }}</td>
        </tr>
        <tr>
            <th>{{ 'Birthday'|trans }}</th>
            <td>{% if user.birthday %}{{ user.birthday|date('Y-m-d') }}{% endif %}</td>
        </tr>
        <tr>
            <th>{{ 'Gender'|trans }}</th>
            <td>{% if user.gender %}{{ user.genderText|trans }}{% endif %}</td>
        </tr>
        <tr>
            <th>{{ 'Created'|trans }}</th>
            <td>{{ user.created|date('Y-m-d') }}</td>
        </tr>
        {# Private profile info #}
        {% if app.user and app.user.id == user.id %}
        <tr>
            <th>{{ 'Email'|trans }}</th>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <th>{{ 'Country'|trans }}</th>
            <td>{{ user.country|country }}</td>
        </tr>
        <tr>
            <th>{{ 'City'|trans }}</th>
            <td>{{ user.city }}</td>
        </tr>
        <tr>
            <th>{{ 'Address'|trans }}</th>
            <td>{{ user.address }}</td>
        </tr>
        <tr>
            <th>{{ 'Postalcode'|trans }}</th>
            <td>{{ user.postalCode }}</td>
        </tr>
        <tr>
            <th>{{ 'Phone'|trans }}</th>
            <td>{{ user.phone }}</td>
        </tr>
        <tr>
            <th>{{ 'Locale'|trans }}</th>
            <td>{{ user.locale|locale }}</td>
        </tr>
        {% endif %}
    </tbody>
</table>

{% if app.user and app.user.id == user.id %}
<a class="btn btn-primary" href="{{ path('front_user_update') }}"><i class="icon-pencil icon-white"></i> {{ 'front.user.button.update'|trans }}</a>
<a class="btn btn-primary" href="{{ path('front_user_security') }}"><i class="icon-lock icon-white"></i> {{ 'Change password'|trans }}</a>
<form id="delete_user_form" class="pull-right" action="{{ path('front_user_delete') }}" method="post">
    {{ form_widget(delete_form) }}
    <button class="btn btn-danger" type="submit"><i class="icon-trash icon-white"></i> {{ 'front.user.button.delete'|trans }}</button>
</form>

{{ macros.modalConfirm('delete_user_form', 'delete_modal') }}
{% endif %}
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% if app.user and app.user.id == user.id %}
<script type="text/javascript">
    $('#delete_user_form').submit(function() { if (!$(this).data('show-confirm')) { $('#delete_modal').modal('show'); return false; } });
    $('#delete_modal').on('show', function() { $('#delete_user_form').data('show-confirm', true); });
    $('#delete_modal').on('hide', function() { $('#delete_user_form').data('show-confirm', false); });
</script>
{% endif %}
{% endblock %}
