{% extends 'PFCDTourismBundle:Back:layout.html.twig' %}

{% set sectiontab = 'organization' %}

{% block body %}
<h1>{{ 'back.organization.index.title'|trans }}</h1>
<p>{{ 'back.organization.index.subtitle'|trans }}</p>

<table class="table table-bordered table-condensed">
    <thead>
        <tr>
            <th rowspan="2">{{ 'Id'|trans }}</th>
            <th rowspan="2">{{ 'Username'|trans }}</th>
            <th rowspan="2">{{ 'Email'|trans }}</th>
            <th rowspan="2">{{ 'Name'|trans }}</th>
            <th rowspan="2">{{ 'Acronim'|trans }}</th>
            <th rowspan="2">{{ 'Country'|trans }}</th>
            <th rowspan="2">{{ 'City'|trans }}</th>
            <th rowspan="2">{{ 'Created'|trans }}</th>
            <th rowspan="2">{{ 'Updated'|trans }}</th>
            <th rowspan="2">{{ 'Status'|trans }}</th>
            <th rowspan="2" colspan="2">{{ 'Edit'|trans }}</th>
        </tr>
    </thead>
    <tbody>
    {% for organization in organizations %}
    <tr class="status-{{ organization.status }}">
        <td><a href="{{ path('back_organization_read', { 'id': organization.id }) }}">{{ organization.id }}</a></td>
        <td>{{ organization.username }}</td>
        <td>{{ organization.email }}</td>
        <td>{{ organization.name }}</td>
        <td>{{ organization.acronim }}</td>
        <td>{{ organization.country|country }}</td>
        <td>{{ organization.city }}</td>
        <td>{% if organization.created %}{{ organization.created|date('Y-m-d') }}{% endif %}</td>
        <td>{% if organization.updated %}{{ organization.updated|date('Y-m-d') }}{% endif %}</td>
        <td>{{ organization.statusText|trans }}</td>
        <td><a href="{{ path('back_organization_update', { 'id': organization.id }) }}"><i class="icon-pencil"></i></a></td>
        <td><a href="{{ path('back_organization_media', { 'id': organization.id }) }}"><i class="icon-picture"></i></a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<a class="btn btn-primary" href="{{ path('back_organization_create') }}"><i class="icon-plus icon-white"></i> {{ 'back.organization.button.create'|trans }}</a>
{% endblock %}