{% extends 'PFCDTourismBundle:Back:layout.html.twig' %}

{% block body %}
<div class="info-container row">
    <div class="info-title span9">
        <h1>{{ organization.name }} {% if organization.acronim %}({{ organization.acronim }}){% endif %}</h1>
        <h6>{% if organization.country %}{{ 'front.organization.read.subtitle.working'|trans }} {% if organization.city %}{{ organization.city }} ({{ organization.country|country }}){% else %}{{ organization.country|country }}{% endif %}{% if organization.foundationyear %} {{ 'front.organization.read.subtitle.since'|trans }} {{ organization.foundationyear }}{% endif %}{% endif %}</h6>
    </div>
    <div class="info-desc span9">
        {% if organization.video %}
        <div class="info-video pull-right">
            {{ organization.video|raw }}
        </div>
        {% endif %}
        <p>{{ organization.shortDesc }}</p>
        <p>{{ organization.fullDesc|raw }}</p>
    </div>

    <div class="span3">
        <div class="well mini">
            <h1>{{ 'Preview'|trans }}</h1>
            <a class="btn btn-primary" href="{{ path('back_organization_update', { 'id': organization.id }) }}"><i class="icon-pencil icon-white"></i> {{ 'back.organization.button.update'|trans }}</a>
            <a class="btn btn-primary" href="{{ path('back_organization_media', { 'id': organization.id }) }}"><i class="icon-picture icon-white"></i> {{ 'back.organization.button.media'|trans }}</a>
        </div>
    </div>
</div>
{% endblock %}