{% extends 'PFCDTourismBundle:Back:layout.html.twig' %}

{% import "PFCDTourismBundle::macros.html.twig" as macros %}

{% set sectiontab = 'organization' %}{% set helptooltip = 1 %}

{% block body %}
<h1>{{ 'back.organization.read.title'|trans }}</h1>
<p>{{ 'back.organization.read.subtitle'|trans }}</p>

<table class="table table-striped table-bordered table-condensed">
    <colgroup class="first-column"></colgroup>
    <tbody>
        <tr>
            <th>{{ 'Username'|trans }}</th>
            <td>{{ organization.username }}</td>
        </tr>
        <tr>
            <th>{{ 'Email'|trans }}</th>
            <td>{{ organization.email }}</td>
        </tr>
        <tr>
            <th>{{ 'Name'|trans }}</th>
            <td>{{ organization.name }}</td>
        </tr>
        <tr>
            <th>{{ 'Acronim'|trans }}</th>
            <td>{{ organization.acronim }}</td>
        </tr>
        <tr>
            <th>{{ 'Logo'|trans }}</th>
            <td><img width="160px" alt="{{ organization.name }}" src="{% if organization.logo %}{{ asset(organization.logo) }}{% else %}http://placehold.it/160x120&text=no+image{% endif %}" /></td>
        </tr>
        {% for language, fields in translations %}
            {% for field, value in fields %}
                <tr>
                    <th>{{ macros.languageFlag(language) }} {{ field|capitalize|trans }}</th>
                    <td>{{ value|raw }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <th>{{ 'Shortdesc'|trans }}</th>
                <td>{{ organization.shortdesc }}</td>
            </tr>
            <tr>
                <th>{{ 'Fulldesc'|trans }}</th>
                <td>{{ organization.fulldesc|raw }}</td>
            </tr>
        {% endfor %}
        <tr>
            <th>{{ 'Webpage'|trans }}</th>
            <td>{% if organization.webpage %}<a href="{{ organization.webpage }}" target="_blank">{{ organization.webpage }}</a>{% endif %}</td>
        </tr>
        <tr>
            <th>{{ 'Foundationyear'|trans }}</th>
            <td>{{ organization.foundationYear }}</td>
        </tr>
        <tr>
            <th>{{ 'Country'|trans }}</th>
            <td>{{ organization.country|country }}</td>
        </tr>
        <tr>
            <th>{{ 'City'|trans }}</th>
            <td>{{ organization.city }}</td>
        </tr>
        <tr>
            <th>{{ 'Address'|trans }}</th>
            <td>{{ organization.address }}</td>
        </tr>
        <tr>
            <th>{{ 'Postalcode'|trans }}</th>
            <td>{{ organization.postalCode }}</td>
        </tr>
        <tr>
            <th>{{ 'Locale'|trans }}</th>
            <td>{{ organization.locale|locale }}</td>
        </tr>
        <tr>
            <th>{{ 'Phone'|trans }}</th>
            <td>{{ organization.phone }}</td>
        </tr>
        <tr>
            <th>{{ 'Donate'|trans }}</th>
            <td>{% if organization.donate and organization.bankname and organization.bankaccount and organization.status == 1 %}<i class="icon-ok"></i>{% else %}<i class="icon-remove"></i> <i>{{ 'entity.organization.donatedisabled'|trans }}</i>{% endif %}</td>
        </tr>
        <tr>
            <th>{{ 'Bankname'|trans }}</th>
            <td>{{ organization.bankname }}</td>
        </tr>
        <tr>
            <th>{{ 'Bankaccount'|trans }}</th>
            <td>{{ organization.bankaccount }}</td>
        </tr>
        <tr>
            <th>{{ 'Languages'|trans }}</th>
            <td>{% for language in organization.languages %}{{ macros.languageFlag(language) }} {{ language|locale }}{% if not loop.last %} - {% endif %}{% endfor %}</td>
        </tr>
        <tr>
            <th>{{ 'Created'|trans }}</th>
            <td>{{ organization.created|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>{{ 'Updated'|trans }}</th>
            <td>{{ organization.updated|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>{{ 'Status'|trans }}</th>
            <td>
                {{ organization.statusText|trans }} <a data-original-title="{{ 'form.organization.field.status.help'|trans }}" rel="tooltip" class="field-help-tooltip"><i class="icon-info-sign"></i></a>
                {% if is_granted('ROLE_ADMIN') %}
                    {% if delete_form %}
                    <div class="pull-right">
                        <form id="delete_organization_form" style="margin: 0 0 0 5px;" action="{{ path('back_organization_status', { 'id': organization.id, 'status': delete_form.vars.value.status }) }}" method="post">
                            {{ form_widget(delete_form) }}
                            <button class="btn btn-mini btn-danger" type="submit"><i class="icon-trash icon-white"></i> {{ 'back.organization.button.delete'|trans }}</button>
                        </form>
                    </div>
                    {{ macros.modalConfirm('delete_organization_form', 'delete_modal') }}
                    {% endif %}
                    {% if lock_form %}
                    <div class="pull-right">
                        <form style="margin: 0 0 0 5px;" action="{{ path('back_organization_status', { 'id': organization.id, 'status': lock_form.vars.value.status }) }}" method="post">
                            {{ form_widget(lock_form) }}
                            <button class="btn btn-mini" type="submit"><i class="icon-ban-circle"></i> {{ 'back.organization.button.lock'|trans }}</button>
                        </form>
                    </div>
                    {% endif %}
                    {% if enable_form %}
                    <div class="pull-right">
                        <form style="margin: 0 0 0 5px;" action="{{ path('back_organization_status', { 'id': organization.id, 'status': enable_form.vars.value.status }) }}" method="post">
                            {{ form_widget(enable_form) }}
                            <button class="btn btn-mini btn-success" type="submit"><i class="icon-ok-circle icon-white"></i> {{ 'back.organization.button.enable'|trans }}</button>
                        </form>
                    </div>
                    {% endif %}
                {% endif %}
            </td>
        </tr>
    </tbody>
</table>

<a class="btn btn-primary" href="{{ path('back_organization_update', { 'id': organization.id }) }}"><i class="icon-pencil icon-white"></i> {{ 'back.organization.button.update'|trans }}</a>
<a class="btn btn-primary" href="{{ path('back_organization_media', { 'id': organization.id }) }}"><i class="icon-picture icon-white"></i> {{ 'back.organization.button.media'|trans }}</a>
<a class="btn btn-primary" href="{{ path('back_organization_security', { 'id': organization.id }) }}"><i class="icon-lock icon-white"></i> {{ 'Change password'|trans }}</a>
<a class="btn btn-info" href="{{ path('back_organization_preview', { 'id': organization.id }) }}"><i class="icon-eye-open icon-white"></i> {{ 'back.organization.button.preview'|trans }}</a>
{% if is_granted('ROLE_ADMIN') %}
<a class="btn btn-inverse pull-right" href="{{ path('back_organization_index') }}"><i class="icon-list-alt icon-white"></i> {{ 'back.organization.button.index'|trans }}</a>
{% endif %}
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% if is_granted('ROLE_ADMIN') %}
<script type="text/javascript">
    $('#delete_organization_form').submit(function() { if (!$(this).data('show-confirm')) { $('#delete_modal').modal('show'); return false; } });
    $('#delete_modal').on('show', function() { $('#delete_organization_form').data('show-confirm', true); });
    $('#delete_modal').on('hide', function() { $('#delete_organization_form').data('show-confirm', false); });
</script>
{% endif %}
{% endblock %}