{% extends 'PFCDTourismBundle:Back:layout.html.twig' %}

{% set sectiontab = 'organization' %}

{% block body %}
<h1>{{ 'back.organization.read.title'|trans }}</h1>
<p>{{ 'back.organization.read.subtitle'|trans }}</p>

<table class="table table-striped table-bordered table-condensed">
    <tbody>
        {% if is_granted('ROLE_ADMIN') %}
        <tr>
            <th>{{ 'Id'|trans }}</th>
            <td>{{ organization.id }}</td>
        </tr>
        {% endif %}
        <tr>
            <th>{{ 'Username'|trans }}</th>
            <td>{{ organization.username }}</td>
        </tr>
        <tr>
            <th>{{ 'Email'|trans }}</th>
            <td>{{ organization.email }}</td>
        </tr>
        <tr>
            <th>{{ 'Name'|trans }}</th>
            <td>{{ organization.name }}</td>
        </tr>
        <tr>
            <th>{{ 'Acronim'|trans }}</th>
            <td>{{ organization.acronim }}</td>
        </tr>
        <tr>
            <th>{{ 'Country'|trans }}</th>
            <td>{{ organization.country|country }}</td>
        </tr>
        <tr>
            <th>{{ 'City'|trans }}</th>
            <td>{{ organization.city }}</td>
        </tr>
        <tr>
            <th>{{ 'Address'|trans }}</th>
            <td>{{ organization.address }}</td>
        </tr>
        <tr>
            <th>{{ 'Postalcode'|trans }}</th>
            <td>{{ organization.postalCode }}</td>
        </tr>
        <tr>
            <th>{{ 'Locale'|trans }}</th>
            <td>{{ organization.locale|locale }}</td>
        </tr>
        <tr>
            <th>{{ 'Phone'|trans }}</th>
            <td>{{ organization.phone }}</td>
        </tr>
        <tr>
            <th>{{ 'Bankname'|trans }}</th>
            <td>{{ organization.bankname }}</td>
        </tr>
        <tr>
            <th>{{ 'Bankaccount'|trans }}</th>
            <td>{{ organization.bankaccount }}</td>
        </tr>
        <tr>
            <th>{{ 'Foundationyear'|trans }}</th>
            <td>{{ organization.foundationYear }}</td>
        </tr>
        <tr>
            <th>{{ 'Created'|trans }}</th>
            <td>{{ organization.created|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>{{ 'Updated'|trans }}</th>
            <td>{{ organization.updated|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>{{ 'Status'|trans }}</th>
            <td>{{ organization.statusText }}</td>
        </tr>
    </tbody>
</table>

<a class="btn btn-primary" href="{{ path('back_organization_update', { 'id': organization.id }) }}"><i class="icon-pencil icon-white"></i> {{ 'back.organization.button.update'|trans }}</a>
<a class="btn btn-primary" href="{{ path('back_organization_media', { 'id': organization.id }) }}"><i class="icon-picture icon-white"></i> {{ 'back.organization.button.media'|trans }}</a>
{% if is_granted('ROLE_ADMIN') %}
<a class="btn btn-inverse" href="{{ path('back_organization_index') }}"><i class="icon-list-alt icon-white"></i> {{ 'back.organization.button.index'|trans }}</a>
{% endif %}
<a class="btn btn-info" href="{{ path('back_organization_preview', { 'id': organization.id }) }}"><i class="icon-eye-open icon-white"></i> {{ 'back.organization.button.preview'|trans }}</a>
<form class="pull-right" action="{{ path('back_organization_delete', { 'id': organization.id }) }}" method="post">
    {{ form_widget(delete_form) }}
    <button class="btn btn-danger" type="submit"><i class="icon-trash icon-white"></i> {{ 'back.organization.button.delete'|trans }}</button>
</form>
{% endblock %}