{% extends 'PFCDTourismBundle:Back:layout.html.twig' %}

{% form_theme edit_form 'PFCDTourismBundle:Form:fields.html.twig' %}

{% set sectiontab = 'organization' %}{% set helptooltip = 1 %}{% set fileupload = 1 %}{% set wysihtml5 = 1 %}

{% block body %}
<h1>{{ 'back.organization.update.title'|trans }}</h1>
<p>{{ 'back.organization.update.subtitle'|trans }}</p>

<form class="form-horizontal" action="{{ path('back_organization_update', { 'id': organization.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <div class="form-actions">
        <button class="btn btn-success" type="submit"><i class="icon-ok icon-white"></i> {{ 'Save changes'|trans }}</button>
        <a class="btn btn-inverse" href="{{ path('back_organization_read', { 'id': organization.id }) }}"><i class="icon-remove icon-white"></i> {{ 'Cancel changes'|trans }}</a>
    </div>
</form>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
    $('.fileupload').fileuploader();
</script>
{% if organization.logo %}
<script type="text/javascript">
    $('.fileupload-new img').attr("src", "{{ asset(organization.logo)}}");
</script>
{% endif %}
{% endblock %}
