{% extends 'PFCDTourismBundle:Back:layout.html.twig' %}

{% form_theme edit_form 'PFCDTourismBundle:Form:fields.html.twig' %}

{% set sectiontab = 'reservation' %}{% set helptooltip = 1 %}

{% block body %}
<h1>{{ 'back.reservation.accept.title'|trans }}</h1>
<p>{{ 'back.reservation.accept.subtitle'|trans }}</p>

<div class="well">
    <h3>{{ 'front.reservation.summary.title'|trans }}:</h3>
    <hr style="margin-top: 0"/>
    <p><b>{{ 'front.reservation.summary.activity'|trans }}</b>: {{ reservation.session.activity.title }}</p>
    <p><b>{{ 'front.reservation.summary.sessiondate'|trans }}</b>: {{ reservation.session.date|date('Y-m-d') }}</p>
    <p><b>{{ 'front.reservation.summary.sessiontime'|trans }}</b>: {% if reservation.session.time %}{{ reservation.session.time|date('H:i') }}{% else %}{{ 'front.reservation.summary.sessiontime.undefined'|trans }}{% endif %}</p>
    <p><b>{{ 'front.payment.summary.persons'|trans }}</b>: {{ reservation.persons }} {{ 'Persons'|trans }}</p>
    <p><b>{{ 'front.payment.summary.price'|trans }}</b>: {{ (reservation.session.activity.price * reservation.persons)|number_format_currency(reservation.session.activity.currency) }} {% if reservation.persons > 1 %}<small>({{ reservation.session.activity.price|number_format_currency(reservation.session.activity.currency) }}/{{ 'Person'|trans }})</small>{% endif %}</p>
    <p><b>{{ 'back.reservation.summary.categories'|trans }}</b>: {% for category in reservation.session.activity.categories %}{{ category.name }}{% if not loop.last %} - {% endif %}{% endfor %}</p>
</div>

{% if error is defined and error %}
<div class="alert alert-error fade in"><button class="close" data-dismiss="alert">×</button>{{ error|trans|raw }}</div>
{% endif %}

<form class="form-horizontal" action="{{ path('back_reservation_accept', { 'id': reservation.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <div class="form-actions">
        <button class="btn btn-success" type="submit"><i class="icon-ok icon-white"></i> {{ 'Accept reservation'|trans }}</button>
        <a class="btn btn-inverse" href="{{ path('back_reservation_read', { 'id': reservation.id }) }}"><i class="icon-remove icon-white"></i> {{ 'Cancel changes'|trans }}</a>
        <span class='field-required-desc'>*</span> <b>{{ 'form.field.required.help'|trans }}</b>
    </div>
</form>
{% endblock %}