{% extends 'PFCDTourismBundle:Back:layout.html.twig' %}

{% form_theme form 'PFCDTourismBundle:Form:fields.html.twig' %}

{% set sectiontab = 'reservation' %}{% set helptooltip = 1 %}{% set datepicker = 1 %}

{% block body %}
<h1>{{ 'back.reservation.create.title'|trans }}</h1>
<p>{{ 'back.reservation.create.subtitle'|trans }}</p>

{% if error %}
<div class="alert alert-error fade in"><button class="close" data-dismiss="alert">×</button>{{ 'alert.error.reservation.invalidsession'|trans }}</div>
{% endif %}

<form class="form-horizontal" action="{{ path('back_reservation_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <div class="form-actions">
        <button class="btn btn-success" type="submit"><i class="icon-ok icon-white"></i> {{ 'Create'|trans }}</button>
        <a class="btn btn-inverse" href="{{ path('back_reservation_index') }}"><i class="icon-remove icon-white"></i> {{ 'Cancel'|trans }}</a>
        <span class='field-required-desc'>*</span> <b>{{ 'form.field.required.help'|trans }}</b>
    </div>
</form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $('#reservation_session').after('<div class="control-group"><label for="reservation_session" class="control-label">{{ 'Session'|trans }}</label><div id="reservation_calendar" class="controls"></div></div>')
        if ($('#reservation_activity').val())
        {
            getCalendar($('#reservation_activity').val(), {{ 'now'|date('Y') }}, {{ 'now'|date('m') }});
        }
        
        $('#reservation_activity').change(function() {
            if ($(this).val())
            {
                getCalendar($(this).val(), {{ 'now'|date('Y') }}, {{ 'now'|date('m') }});
            }
        });
        
        function getCalendar(id, year, month)
        {
            if ($('#calendar_header').length > 0)
            {
                $('#calendar_prev_month').attr('onclick', 'return false');
                $('#calendar_prev_month').attr('disabled', 'disabled');
                $('#calendar_next_month').attr('onclick', 'return false');
                $('#calendar_next_month').attr('disabled', 'disabled');
                $('#calendar_header').html('<i class="icon-loading" style="vertical-align:middle"></i> {{ 'Loading'|trans }}...');
                $('#calendar_table').css({ opacity: 0.75 });
            }
            else
            {    
                $('#reservation_calendar').prepend('<i class="icon-loading"></i> {{ 'Loading'|trans }}...');
            }
            
            document.getElementById('reservation_session').value = "";
            
            $.ajax({
                type: "GET",
                data: "id=" + id + "&year=" + year + "&month=" + month,
                url: "{{ path('back_activity_calendar') }}",
                success: function(calendar) { $('#reservation_calendar').html(calendar); }
            });
        }
        
        function selectSession(id)
        {
            document.getElementById('reservation_session').value = id;
            $('.calendar .label.active').removeClass('active');
            $('.session'+id).addClass('active');
        }
    </script>
{% endblock %}