{% extends 'PFCDTourismBundle:Back:layout.html.twig' %}

{% import "PFCDTourismBundle::macros.html.twig" as macros %}

{% form_theme form 'PFCDTourismBundle:Form:fields.html.twig' %}

{% set sectiontab = 'reservation' %}{% set datepicker = 1 %}{% set tablesorter = '{ headers: { 0: {sorter: false}, 5: {sorter: false}, 8: {sorter: false}, 10: {sorter: false} }, sortList: [[7,1]] }' %}

{% block body %}
<button class="btn pull-right" onclick="$('#reservation_modal_help').modal('show')"><i class="icon-question-sign"></i> {{ 'Help'|trans }}</button>
{{ macros.modalHelp('reservation')}}

<h1>{{ 'back.reservation.index.title'|trans }}</h1>
<p>{{ 'back.reservation.index.subtitle'|trans }}</p>

<div class="well">
    <h2>{{ 'Search'|trans }}</h2>
    <form class="form-horizontal mini" action="{{ path('back_reservation_index') }}" method="post" {{ form_enctype(form) }}>
        <div class="row">
            <div class="span">
                {{ form_row(form.activity) }}
                {{ form_row(form.status) }}
            </div>
            <div class="span">
                {{ form_row(form.dateStart) }}
                {{ form_row(form.dateEnd) }}
            </div>
            <div class="span">
                {{ form_row(form.sessionDateStart) }}
                {{ form_row(form.sessionDateEnd) }}
            </div>
            {{ form_rest(form) }}
        </div>
        <div class="form-actions">
            <button class="btn btn-primary" type="submit"><i class="icon-search icon-white"></i> {{ 'Search'|trans }}</button>
        </div>
    </form>
</div>

<table class="table table-bordered table-condensed">
    <thead>
        <tr>
            <th>{{ 'View'|trans }}</th>
            <th>{{ 'User'|trans }}</th>
            <th>{{ 'Activity'|trans }}</th>
            <th>{{ 'Session'|trans }}</th>
            <th>{{ 'Persons'|trans }}</th>
            <th>{{ 'Note'|trans }}</th>
            <th>{{ 'Created'|trans }}</th>
            <th>{{ 'Updated'|trans }}</th>
            <th>{{ 'Payment'|trans }}</th>
            <th>{{ 'Status'|trans }}</th>
            <th>{{ 'Edit'|trans }}</th>
        </tr>
    </thead>
    <tbody>
    {% for reservation in reservations %}
    <tr class="status-{{ reservation.status }}">
        <td><a href="{{ path('back_reservation_read', { 'id': reservation.id }) }}"><i class="icon-eye-open"></i></a></td>
        <td>{% if reservation.user %}<a href="{{ path('back_user_read', { 'id': reservation.user.id }) }}">{{ reservation.user.firstname }}</a>{% endif %}</td>
        <td><a href="{{ path('back_activity_read', { 'id': reservation.session.activity.id }) }}">{{ reservation.session.activity.title|truncate(25) }}</a></td>
        <td>{% if reservation.session.date %}{{ reservation.session.date|date('Y-m-d') }}{% endif %} {% if reservation.session.time %}({{ reservation.session.time|date('H:i') }}){% endif %}</td>
        <td>{{ reservation.persons }}</td>
        <td>{{ reservation.note|truncate(25) }}</td>
        <td>{% if reservation.created %}{{ reservation.created|date('Y-m-d H:i') }}{% endif %}</td>
        <td>{% if reservation.updated %}{{ reservation.updated|date('Y-m-d H:i') }}{% endif %}</td>
        <td>{% if reservation.payment %}<a href="{{ path('back_payment_read', { 'id': reservation.payment.id }) }}"><i class="icon-inbox"></i></a>{% endif %}</td>
        <td>{{ reservation.statusText|trans }}</td>
        <td><a href="{{ path('back_reservation_update', { 'id': reservation.id }) }}"><i class="icon-edit"></i></a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<a class="btn btn-primary" href="{{ path('back_reservation_create') }}"><i class="icon-plus icon-white"></i> {{ 'back.reservation.button.create'|trans }}</a>
{% endblock %}