{% extends 'PFCDTourismBundle:Back:layout.html.twig' %}

{% set sectiontab = 'reservation' %}

{% block body %}
<h1>{{ 'back.reservation.read.title'|trans }}</h1>
<p>{{ 'back.reservation.read.subtitle'|trans }}</p>

<table class="table table-striped table-bordered table-condensed">
    <tbody>
        <tr>
            <th>{{ 'Id'|trans }}</th>
            <td>{{ reservation.id }}</td>
        </tr>
        <tr>
            <th>{{ 'User'|trans }}</th>
            <td>{% if reservation.user %}{{ reservation.user.fullname }} ({{ reservation.user.email }}){% endif %}</td>
        </tr>
        <tr>
            <th>{{ 'Activity'|trans }}</th>
            <td>{{ reservation.session.activity.title }}</td>
        </tr>
        <tr>
            <th>{{ 'Persons'|trans }}</th>
            <td>{{ reservation.persons }}</td>
        </tr>
        <tr>
            <th>{{ 'Session date'|trans }}</th>
            <td>{% if reservation.session.date %}{{ reservation.session.date|date('Y-m-d') }}{% endif%}</td>
        </tr>
        <tr>
            <th>{{ 'Session time'|trans }}</th>
            <td>{% if reservation.session.time %}{{ reservation.session.time|date('H:i') }}{% endif%}</td>
        </tr>
        <tr>
            <th>{{ 'Payment'|trans }}</th>
            <td>{% if reservation.payment %}<a href="{{ path('back_payment_read', { 'id': reservation.payment.id }) }}"><i class="icon-inbox"></i></a>{% endif %}</td>
        </tr>
        <tr>
            <th>{{ 'Comment'|trans }}</th>
            <td>{{ reservation.comment }}</td>
        </tr>
        <tr>
            <th>{{ 'Created'|trans }}</th>
            <td>{{ reservation.created|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>{{ 'Updated'|trans }}</th>
            <td>{{ reservation.updated|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>{{ 'Status'|trans }}</th>
            <td>{{ reservation.statusText }}</td>
        </tr>
    </tbody>
</table>

<a class="btn btn-primary" href="{{ path('back_reservation_update', { 'id': reservation.id }) }}"><i class="icon-pencil icon-white"></i> {{ 'back.reservation.button.update'|trans }}</a>
<a class="btn btn-inverse" href="{{ path('back_reservation_index') }}"><i class="icon-list-alt icon-white"></i> {{ 'back.reservation.button.index'|trans }}</a>
<form class="pull-right" action="{{ path('back_reservation_delete', { 'id': reservation.id }) }}" method="post">
    {{ form_widget(delete_form) }}
    <button class="btn btn-danger" type="submit"><i class="icon-trash icon-white"></i> {{ 'back.reservation.button.delete'|trans }}</button>
</form>
{% endblock %}