{% extends 'PFCDTourismBundle:Back:layout.html.twig' %}

{% import "PFCDTourismBundle::macros.html.twig" as macros %}

{% set sectiontab = 'reservation' %}{% set helptooltip = 1 %}

{% block body %}
<h1>{{ 'back.reservation.read.title'|trans }}</h1>
<p>{{ 'back.reservation.read.subtitle'|trans }}</p>

<table class="table table-striped table-bordered table-condensed">
    <colgroup class="first-column"></colgroup>
    <tbody>
        <tr>
            <th>{{ 'User'|trans }}</th>
            <td>{% if reservation.user %}<a href="{{ path('back_user_read', { 'id': reservation.user.id }) }}">{{ reservation.user.fullname }}</a> ({{ reservation.user.email }}){% endif %}</td>
        </tr>
        <tr>
            <th>{{ 'Activity'|trans }}</th>
            <td><a href="{{ path('back_activity_read', { 'id': reservation.session.activity.id }) }}">{{ reservation.session.activity.title }}</a></td>
        </tr>
        <tr>
            <th>{{ 'Persons'|trans }}</th>
            <td>{{ reservation.persons }}</td>
        </tr>
        <tr>
            <th>{{ 'Session date'|trans }}</th>
            <td>{% if reservation.session.date %}{{ reservation.session.date|date('Y-m-d') }}{% endif %}</td>
        </tr>
        <tr>
            <th>{{ 'Session time'|trans }}</th>
            <td>{% if reservation.session.time %}{{ reservation.session.time|date('H:i') }}{% endif %}</td>
        </tr>
        <tr>
            <th>{{ 'Payment'|trans }}</th>
            <td>{% if reservation.payment %}<a href="{{ path('back_payment_read', { 'id': reservation.payment.id }) }}"><i class="icon-inbox"></i></a>{% endif %}</td>
        </tr>
        <tr>
            <th>{{ 'Resources'|trans }}</th>
            <td>{% for resource in reservation.resources %}<a href="{{ path('back_resource_read', { 'id': resource.id }) }}">{{ resource.name }}</a>{% if not loop.last %} - {% endif %}{% endfor %}</td>
        </tr>
        <tr>
            <th>{{ 'Note'|trans }}</th>
            <td>{{ reservation.note }}</td>
        </tr>
        <tr>
            <th>{{ 'Created'|trans }}</th>
            <td>{{ reservation.created|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>{{ 'Updated'|trans }}</th>
            <td>{{ reservation.updated|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>{{ 'Status'|trans }}</th>
            <td>
                {{ reservation.statusText|trans }} <a data-original-title="{{ 'form.reservation.field.status.help'|trans }}" rel="tooltip" class="field-help-tooltip"><i class="icon-info-sign"></i></a>
                {% if reject_form %}
                <div class="pull-right">
                    <form id="reject_reservation_form" style="margin: 0 0 0 5px;" action="{{ path('back_reservation_status', { 'id': reservation.id, 'status': reject_form.vars.value.status }) }}" method="post">
                        {{ form_widget(reject_form) }}
                        <button class="btn btn-mini btn-danger" type="submit"><i class="icon-trash icon-white"></i> {{ 'back.reservation.button.reject'|trans }}</button>
                    </form>
                </div>
                {{ macros.modalConfirm('reject_reservation_form', 'reject_modal') }}
                <a class="btn btn-mini btn-success pull-right" href="{{ path('back_reservation_accept', { 'id': reservation.id }) }}"><i class="icon-ok-circle icon-white"></i> {{ 'back.reservation.button.accept'|trans }}</a>
                {% endif %}
                {% if cancel_form %}
                <div class="pull-right">
                    <form id="cancel_reservation_form" style="margin: 0 0 0 5px;" action="{{ path('back_reservation_status', { 'id': reservation.id, 'status': cancel_form.vars.value.status }) }}" method="post">
                        {{ form_widget(cancel_form) }}
                        <button class="btn btn-mini btn-danger" type="submit"><i class="icon-trash icon-white"></i> {{ 'back.reservation.button.cancel'|trans }}</button>
                    </form>
                </div>
                {{ macros.modalConfirm('cancel_reservation_form', 'cancel_modal') }}
                {% endif %}
            </td>
        </tr>
    </tbody>
</table>

<a class="btn btn-inverse" href="{{ path('back_reservation_index') }}"><i class="icon-list-alt icon-white"></i> {{ 'back.reservation.button.index'|trans }}</a>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
    $('#reject_reservation_form').submit(function() { if (!$(this).data('show-confirm')) { $('#reject_modal').modal('show'); return false; } });
    $('#reject_modal').on('show', function() { $('#reject_reservation_form').data('show-confirm', true); });
    $('#reject_modal').on('hide', function() { $('#reject_reservation_form').data('show-confirm', false); });
    
    $('#cancel_reservation_form').submit(function() { if (!$(this).data('show-confirm')) { $('#cancel_modal').modal('show'); return false; } });
    $('#cancel_modal').on('show', function() { $('#cancel_reservation_form').data('show-confirm', true); });
    $('#cancel_modal').on('hide', function() { $('#cancel_reservation_form').data('show-confirm', false); });
</script>
{% endblock %}