{% extends 'PFCDTourismBundle:Back:layout.html.twig' %}

{% import "PFCDTourismBundle::macros.html.twig" as macros %}

{% form_theme form 'PFCDTourismBundle:Form:fields.html.twig' %}

{% set sectiontab = 'session' %}{% set datepicker = 1 %}{% set tablesorter = '{ headers: { 0: {sorter: false}, 6: {sorter: false}, 10: {sorter: false}, 11: {sorter: false} }, sortList: [[2,0],[3,0]] }' %}

{% block body %}
<button class="btn pull-right" onclick="$('#session_modal_help').modal('show')"><i class="icon-question-sign"></i> {{ 'Help'|trans }}</button>
{{ macros.modalHelp('session')}}

<h1>{{ 'back.session.index.title'|trans }}</h1>
<p>{{ 'back.session.index.subtitle'|trans }}</p>

<div class="well">
    <h2>{{ 'Search'|trans }}</h2>
    <form class="form-horizontal mini" action="{{ path('back_session_index') }}" method="post" {{ form_enctype(form) }}>
        <div class="row">
            <div class="span">
                {{ form_row(form.activity) }}
                {{ form_row(form.startTime) }}
            </div>
            <div class="span">
                {{ form_row(form.dateStart) }}
                {{ form_row(form.dateEnd) }}
            </div>
            <div class="span">
                {{ form_row(form.daysWeek) }}
                {{ form_row(form.status) }}
            </div>
            {{ form_rest(form) }}
        </div>
        <div class="form-actions">
            <button class="btn btn-primary" type="submit"><i class="icon-search icon-white"></i> {{ 'Search'|trans }}</button>
        </div>
    </form>
</div>

<table class="table table-bordered table-condensed">
    <thead>
        <tr>
            <th>{{ 'View'|trans }}</th>
            <th>{{ 'Activity'|trans }}</th>
            <th>{{ 'Date'|trans }}</th>
            <th>{{ 'Time'|trans }}</th>
            <th>{{ 'Persons'|trans }}</th>
            <th>{{ 'Capacity'|trans }}</th>
            <th>{{ 'Note'|trans }}</th>
            <th>{{ 'Created'|trans }}</th>
            <th>{{ 'Updated'|trans }}</th>
            <th>{{ 'Status'|trans }}</th>
            {% if is_granted('ROLE_ADMIN') %}
            <th>{{ 'Organization'|trans }}</th>
            {% endif %}
            <th>{{ 'Edit'|trans }}</th>
        </tr>
    </thead>
    <tbody>
    {% for session in sessions %}
    <tr class="status-{{ session.status }}">
        <td><a href="{{ path('back_session_read', { 'id': session.id }) }}"><i class="icon-eye-open"></i></a></td>
        <td><a href="{{ path('back_activity_read', { 'id': session.activity.id }) }}">{{ session.activity.title|truncate(25) }}</a></td>
        <td>{% if session.date %}{{ session.date|date('Y-m-d') }}{% endif %}</td>
        <td>{% if session.time %}{{ session.time|date('H:i') }}{% endif %}</td>
        {% set total_persons = 0 %}
        {% for reservation in session.reservations %}
        {% set total_persons = total_persons + reservation.persons %}
        {% endfor %}
        <td>{{ total_persons }}</td>
        <td>{{ ((total_persons/session.activity.capacity)*100)|number_format }}%</td>
        <td>{{ session.note|truncate(25) }}</td>
        <td>{% if session.created %}{{ session.created|date('Y-m-d') }}{% endif %}</td>
        <td>{% if session.updated %}{{ session.updated|date('Y-m-d') }}{% endif %}</td>
        <td>{{ session.statusText|trans }}</td>
        {% if is_granted('ROLE_ADMIN') %}
        <td><a href="{{ path('back_organization_read', { 'id': session.activity.organization.id }) }}">{{ session.activity.organization.name }}</a></td>
        {% endif %}
        <td><a href="{{ path('back_session_update', { 'id': session.id }) }}"><i class="icon-edit"></i></a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% if is_granted('ROLE_ORGANIZATION') %}
<a class="btn btn-primary" href="{{ path('back_session_create') }}"><i class="icon-plus icon-white"></i> {{ 'back.session.button.create'|trans }}</a>
<a id="generate_sessions" class="btn btn-primary" href="{{ path('back_session_generate') }}"  rel="popover" data-original-title="{{ 'popover.generatesessions.title'|trans }}" data-content="{{ 'popover.generatesessions.content'|trans }}"><i class="icon-plus icon-white"></i> {{ 'back.session.button.generate'|trans }}</a>
{% endif %}
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% if is_granted('ROLE_ORGANIZATION') %}
<script type="text/javascript">
    $('#generate_sessions').popover();
</script>
{% endif %}
{% endblock%}  