<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
        <meta name="robots" content="noindex, nofollow" />
        <title>{% block title %}Administrator Panel{% endblock %} - CooperationTourism.org</title>
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        {% block stylesheets %}
            <link href="{{ asset('css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('css/frontend.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <img class="logo pull-left" src="{{ asset('img/logo.png')}}" /> 
                    <a class="brand" href="{{ path('admin_index') }}">CooperationTourism.com</a>
                    {% if is_granted('ROLE_ADMIN') %}
                    <div class="pull-right">Welcome Admin ;) <a class="btn btn-danger" href="{{ path('admin_logout') }}"><i class="icon-off icon-white"></i> Logout</a></div> 
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
            {% block container %}
                <div class="span2">
                    {% block sidebar %}
                        <div style="padding: 8px 0;" class="well">
                            <ul class="nav nav-list">
                                <li class="nav-header">Main menu</li>
                                <li class="active"><a href="{{ path('admin_index') }}"><i class="icon-white icon-home"></i> Home</a></li>
                                <li><a href="{{ path('admin_user_index') }}"><i class="icon-user"></i> Users</a></li>
                                <li><a href="{{ path('admin_organization_index') }}"><i class="icon-pencil"></i> Organizations</a></li>
                                <li class="nav-header">Another list header</li>
                                <li><a href="#"><i class="icon-user"></i> Profile</a></li>
                                <li><a href="#"><i class="icon-cog"></i> Settings</a></li>
                                <li class="divider"></li>
                                <li><a href="#"><i class="icon-flag"></i> Help</a></li>
                            </ul>
                        </div>
                    {% endblock %}
                </div>
                <div class="span10">
                    <header class="well">
                        <h2>{% block blog_title %}<a href="{{ path('admin_index') }}">Administrator</a>{% endblock %}</h2>
                        <h3>{% block blog_tagline %}<a href="{{ path('admin_index') }}">Admin Panel</a>{% endblock %}</h3>
                    </header>
                    {% block body %}{% endblock %}
                </div>
            {% endblock %}
            </div>
            <footer class="footer">
                E-Tourism Platform - created by <a href="https://github.com/afemartin">afemartin</a>
            </footer>
        </div>
        {% block javascripts %}
            <script src="{{ asset('js/jquery-1.7.2.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
