<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
        <meta name="robots" content="noindex, nofollow" />
        <title>{% block title %}{{ 'back.browser.title'|trans }}{% endblock %} - {{ domain_name }}</title>
        <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
        {% block stylesheets %}
        <link href="{{ asset('css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('css/styles.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('css/flags.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <img class="logo pull-left" src="{{ asset('img/logo.png')}}" /> 
                    <a class="brand" href="{{ path('back_index') }}">{{ domain_name }}</a>
                    <ul class="nav">
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle"><img src="{{ asset('img/blank.gif') }}" class="flag flag-{{ app.session.locale }}" /> {{ 'Language'|trans }} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                {% for language in supported_languages %}
                                <li><a href="{{ localize_route(language) }}"><img src="{{ asset('img/blank.gif') }}" class="flag flag-{{ language }}" /> {{ language|locale|capitalize }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                    {% if is_granted('ROLE_ADMIN') %}
                    <div class="pull-right">{{ 'Welcome'|trans }} <b>admin</b> <a class="btn btn-danger" href="{{ path('back_logout') }}"><i class="icon-off icon-white"></i> {{ 'Logout'|trans }}</a></div>
                    {% elseif is_granted('ROLE_ORGANIZATION') %}
                    <div class="pull-right">{{ 'Welcome'|trans }} <b>{{ app.user.username }}</b> <a class="btn btn-danger" href="{{ path('back_logout') }}"><i class="icon-off icon-white"></i> {{ 'Logout'|trans }}</a></div> 
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="container main">
            <div class="row">
            {% block container %}
            <div class="span12">
                <header class="well">
                    <h1>{% block header_title %}{{ domain_name }}{% endblock %}</h1>
                    <h2>{% block header_subtitle %}{{ 'back.header.subtitle'|trans }}{% endblock %}</h2>
                </header>
                {% block sidebar %}
                <div class="subnav">
                    <ul class="nav nav-pills">
                        <li id="subnav-tab-home"><a href="{{ path('back_index') }}"><i class="icon-home"></i> {{ 'Home'|trans }}</a></li>
                        {% if is_granted('ROLE_ADMIN') %}
                        <li id="subnav-tab-organization"><a href="{{ path('back_organization_index') }}"><i class="icon-globe"></i> {{ 'Organizations'|trans }}</a></li>
                        {% elseif is_granted('ROLE_ORGANIZATION') %}
                        <li id="subnav-tab-organization"><a href="{{ path('back_organization_read', { 'id' : app.user.id }) }}"><i class="icon-globe"></i> {{ 'Organization'|trans }}</a></li>
                        {% endif %}
                        <li id="subnav-tab-activity"><a href="{{ path('back_activity_index') }}"><i class="icon-leaf"></i> {{ 'Activities'|trans }}</a></li>
                        <li id="subnav-tab-resource"><a href="{{ path('back_resource_index') }}"><i class="icon-wrench"></i> {{ 'Resources'|trans }}</a></li>
                        <li id="subnav-tab-session"><a href="{{ path('back_session_index') }}"><i class="icon-calendar"></i> {{ 'Sessions'|trans }}</a></li>
                        <li id="subnav-tab-reservation"><a href="{{ path('back_reservation_index') }}"><i class="icon-book"></i> {{ 'Reservations'|trans }}</a></li>
                        <li id="subnav-tab-payment"><a href="{{ path('back_payment_index') }}"><i class="icon-inbox"></i> {{ 'Payments'|trans }}</a></li>
                        {#<li id="subnav-tab-statistic"><a href="{{ path('back_statistic') }}"><i class="icon-tasks"></i> {{ 'Statistics'|trans }}</a></li>#}
                        <li id="subnav-tab-news"><a href="{{ path('back_article_index') }}"><i class="icon-bullhorn"></i> {{ 'News'|trans }}</a></li>
                        <li id="subnav-tab-comment"><a href="{{ path('back_comment_index') }}"><i class="icon-comment"></i> {{ 'Comments'|trans }}</a></li>
                        <li id="subnav-tab-user"><a href="{{ path('back_user_index') }}"><i class="icon-user"></i> {{ 'Users'|trans }}</a></li>
                        {% if is_granted('ROLE_ADMIN') %}
                        <li id="subnav-tab-settings"><a href="{{ path('back_settings') }}"><i class="icon-cog"></i> {{ 'Settings'|trans }}</a></li>
                        {% elseif is_granted('ROLE_ORGANIZATION') %}
                        <li id="subnav-tab-support"><a href="{{ path('back_support') }}"><i class="icon-flag"></i> {{ 'Support'|trans }}</a></li>
                        {% endif %}
                    </ul>
                </div>
                {% endblock %}
                {% if app.session.hasFlash('alert-info') %}<div class="alert alert-info fade in"><button class="close" data-dismiss="alert">×</button>{{ app.session.flash('alert-info') }}</div>{% endif %}
                {% if app.session.hasFlash('alert-success') %}<div class="alert alert-success fade in"><button class="close" data-dismiss="alert">×</button>{{ app.session.flash('alert-success') }}</div>{% endif %}
                {% if app.session.hasFlash('alert-warning') %}<div class="alert fade in"><button class="close" data-dismiss="alert">×</button>{{ app.session.flash('alert-warning') }}</div>{% endif %}
                {% if app.session.hasFlash('alert-error') %}<div class="alert alert-error fade in"><button class="close" data-dismiss="alert">×</button>{{ app.session.flash('alert-error') }}</div>{% endif %}
                {% block body %}{% endblock %}
            </div>
            {% endblock %}
            </div>
            <footer class="footer">
                {{ 'footer.copyrigth'|trans({'%year%': 'now'|date('Y'), '%domain%': domain_name})|raw }}
            </footer>
        </div>
        {% block javascripts %}
        <script src="{{ asset('js/jquery-1.7.2.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script type="text/javascript">
            // fix sub nav on scroll
            var $win = $(window);
            var $nav = $('.subnav');
            var navTop = $('.subnav').length && $('.subnav').offset().top - 20;
            var isFixed = 0;

            processScroll();

            $win.on('scroll', processScroll);

            function processScroll() {
                var i, scrollTop = $win.scrollTop();
                if (scrollTop >= navTop && !isFixed) {
                    isFixed = 1
                    $nav.addClass('subnav-fixed')
                } else if (scrollTop <= navTop && isFixed) {
                    isFixed = 0
                    $nav.removeClass('subnav-fixed')
                }
            }
        </script>
        {% endblock %}
    </body>
</html>
