<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
        <meta name="robots" content="noindex, nofollow" />
        <title>{% block title %}{{ 'front.browser.title'|trans }}{% endblock %} - {{ domain_name }}</title>
        <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
        {% block stylesheets %}
            <link href="{{ asset('css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('css/styles.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('css/flags.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <img class="logo pull-left" src="{{ asset('img/logo.png')}}" /> 
                    <a class="brand" href="{{ path('front_index') }}">{{ domain_name }}</a>
                    <div class="pull-right">
                        {% if is_granted('ROLE_USER') %}
                        {{ 'Welcome'|trans }} <a class="" href="{{ path('front_user_read', { 'id': app.user.id }) }}">{{ app.user.firstname }}</a> ;) <a class="btn btn-danger" href="{{ path('front_logout') }}"><i class="icon-off icon-white"></i> {{ 'Logout'|trans }}</a>
                        {% else %}
                        <a class="btn btn-primary" href="{{ path('front_login') }}"><i class="icon-user icon-white"></i> {{ 'Login'|trans }}</a>
                        <a class="btn btn-warning" href="{{ path('front_user_create') }}"><i class="icon-globe icon-white"></i> {{ 'Register'|trans }}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="container main">
            <div class="alert alert-error fade in">
                <button class="close" data-dismiss="alert">×</button>
                {{ 'alert.info.beta'|trans }}
            </div>
            <header class="well">
                <h1>{% block header_title %}{{ domain_name }}{% endblock %}</h1>
                <h2>{% block header_subtitle %}{{ 'front.header.subtitle'|trans }}{% endblock %}</h2>
            </header>
            {% block navbar %}
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="container">
                        <ul class="nav">
                            <li id="navbar-tab-home"><a href="{{ path('front_index') }}">{{ 'Home'|trans }}</a></li>
                            <li id="navbar-tab-organization"><a href="{{ path('front_organization_index') }}">{{ 'Organizations'|trans }}</a></li>
                            <li id="navbar-tab-activity"><a href="{{ path('front_activity_index') }}">{{ 'Activities'|trans }}</a></li>
                            <li id="navbar-tab-news"><a href="{{ path('front_article_index') }}">{{ 'News'|trans }}</a></li>
                            <li id="navbar-tab-contact"><a href="{{ path('front_contact') }}">{{ 'Contact'|trans }}</a></li>
                            <li id="navbar-tab-about"><a href="{{ path('front_about') }}">{{ 'About'|trans }}</a></li>
                        </ul>
                        <ul class="nav pull-right">
                            <li class="dropdown">
                                <a data-toggle="dropdown" class="dropdown-toggle"><img src="{{ asset('img/blank.gif') }}" class="flag flag-{{ app.session.locale }}" /> {{ 'Language'|trans }} <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    {% for language in supported_languages %}
                                    <li><a href="{{ localize_route(language) }}"><img src="{{ asset('img/blank.gif') }}" class="flag flag-{{ language }}" /> {{ language|locale|capitalize }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endblock %}
            <div class="row">
                <div class="span9">
                    {% if app.session.hasFlash('alert-info') %}<div class="alert alert-info fade in"><button class="close" data-dismiss="alert">×</button>{{ app.session.flash('alert-info') }}</div>{% endif %}
                    {% if app.session.hasFlash('alert-success') %}<div class="alert alert-success fade in"><button class="close" data-dismiss="alert">×</button>{{ app.session.flash('alert-success') }}</div>{% endif %}
                    {% if app.session.hasFlash('alert-warning') %}<div class="alert fade in"><button class="close" data-dismiss="alert">×</button>{{ app.session.flash('alert-warning') }}</div>{% endif %}
                    {% if app.session.hasFlash('alert-error') %}<div class="alert alert-error fade in"><button class="close" data-dismiss="alert">×</button>{{ app.session.flash('alert-error') }}</div>{% endif %}
                    {% block body %}{% endblock %}
                </div>
                <div class="span3">
                    {% if is_granted('ROLE_USER') %}
                    <div class="well" style="padding: 9px 0;">
                        <ul class="nav nav-list">
                            <li class="nav-header">{{ 'User menu'|trans }}</li>
                            <li id="sidebar-tab-user"><a href="{{ path('front_user_read', { 'id': app.user.id }) }}"><i class="icon-user"></i> {{ 'My profile'|trans }}</a></li>
                            <li id="sidebar-tab-reservation"><a href="{{ path('front_reservation_index') }}"><i class="icon-book "></i> {{ 'My reservations'|trans }}</a></li>
                        </ul>
                    </div>
                    {% endif %}
                    {% block sidebar %}{% endblock %}
                    {% if not is_granted('ROLE_USER') %}
                    <div class="well well-small">
                        <h3>{{ 'front.advertise.join.title'|trans }}</h3>
                        <p>{{ 'front.advertise.join.content'|trans({'%link%': path('front_organization_create')})|raw }}</p>    
                    </div>
                    {% endif %}
                </div>
            </div>
            <footer class="footer">
                {% if 'now'|date('Y') <= 2012 %}{% set years = '2012' %}{% else %}{% set years = '2012-' ~ 'now'|date('Y') %}{% endif %}
                {{ 'footer.copyrigth'|trans({'%years%': years, '%domain%': domain_name})|raw }}
            </footer>    
        </div>
        {% block javascripts %}
        <script type="text/javascript" src="{{ asset('js/jquery-1.7.2.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
