<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
        <meta name="robots" content="noindex, nofollow" />
        <title>{% block title %}Home{% endblock %} - CooperationTourism.org</title>
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        {% block stylesheets %}
            <link href="{{ asset('css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('css/frontend.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('css/flags.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <img class="logo pull-left" src="{{ asset('img/logo.png')}}" /> 
                    <a class="brand" href="{{ path('front_index') }}">CooperationTourism.com</a>
                    {% if is_granted('ROLE_USER') %}
                        <div class="pull-right">{% trans %}Welcome{% endtrans %} {{ app.user.username }} ;) <a class="btn btn-danger" href="{{ path('front_logout') }}"><i class="icon-off icon-white"></i> Logout</a></div>
                    {% else %}
                        <a class="btn btn-warning pull-right" href="{{ path('front_register') }}"><i class="icon-globe icon-white"></i> {% trans %}Register{% endtrans %}</a>
                        <span class="navbar-text pull-right">{% trans %}or{% endtrans %}</span>
                        <form class="navbar-form pull-right" action="{{ path('front_login_check') }}" method="post">
                            <input class="input-small" name="_username" type="text" placeholder="username" required="required" />
                            <input class="input-small" name="_password" type="password" placeholder="password" required="required" />
                            <button class="btn btn-primary" type="submit"><i class="icon-user icon-white"></i> {% trans %}Login{% endtrans %}</button>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="container">
            <div class="alert alert-error">This website is a beta version only for development testing purpose. All the information displayed here are just fake data.</div>
            <header class="well">
                <h2>{% block blog_title %}<a href="{{ path('front_index') }}">E-Tourism</a>{% endblock %}</h2>
                <h3>{% block blog_tagline %}<a href="{{ path('front_index') }}">Online platform for cooperation tourism</a>{% endblock %}</h3>
            </header>
            {% block navbar %}
                <div class="navbar">
                    <div class="navbar-inner">
                        <div class="container">
                            <ul class="nav">
                                <li id="navbar-tab-home"><a href="{{ path('front_index') }}">Home</a></li>
                                <li id="navbar-tab-contact"><a href="{{ path('front_contact') }}">Contact</a></li>
                                <li id="navbar-tab-about"><a href="{{ path('front_about') }}">About Us</a></li>
                            </ul>
                            <ul class="nav pull-right">
                                <li class="dropdown">
                                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">Language <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('front_index', { '_locale': 'en' }) }}"><img src="{{ asset('img/blank.gif') }}" class="flag flag-gb" alt="select English language" /> English</a></li>
                                        <li><a href="{{ path('front_index', { '_locale': 'es' }) }}"><img src="{{ asset('img/blank.gif') }}" class="flag flag-es" alt="select Spanish language" /> Spanish</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            {% endblock %}
            <div class="row">
                <div class="span9">
                    {% block body %}{% endblock %}
                </div>
                <div class="span3">
                    {% block sidebar %}{% endblock %}
                </div>
            </div>
            <footer class="footer">
                E-Tourism Platform - created by <a href="https://github.com/afemartin">afemartin</a>
            </footer>    
        </div>
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('js/jquery-1.7.2.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
