<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
        <meta name="robots" content="noindex, nofollow" />
        <title>{% block title %}{{ 'Home'|trans }}{% endblock %} - CooperationTourism.org</title>
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        {% block stylesheets %}
            <link href="{{ asset('css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('css/frontend.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('css/flags.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <img class="logo pull-left" src="{{ asset('img/logo.png')}}" /> 
                    <a class="brand" href="{{ path('front_index') }}">CooperationTourism.com</a>
                    <div class="pull-right">
                        {% if is_granted('ROLE_USER') %}
                            {{ 'Welcome'|trans }} <a class="" href="{{ path('front_user_show', { 'id': app.user.id }) }}">{{ app.user.firstname }}</a> ;) <a class="btn btn-danger" href="{{ path('front_logout') }}"><i class="icon-off icon-white"></i> {{ 'Logout'|trans }}</a>
                        {% else %}
                            <a class="btn btn-primary" href="{{ path('front_login') }}"><i class="icon-user icon-white"></i> {{ 'Login'|trans }}</a>
                            <a class="btn btn-warning" href="{{ path('front_user_register') }}"><i class="icon-globe icon-white"></i> {{ 'Register'|trans }}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="container main">
            <div class="alert alert-error">
                <button class="close" data-dismiss="alert">×</button>
                {{ 'This website is a beta version only for development testing purpose'|trans }}
            </div>
            <header class="well">
                <h2>{% block blog_title %}<a href="{{ path('front_index') }}">E-Tourism</a>{% endblock %}</h2>
                <h3>{% block blog_tagline %}<a href="{{ path('front_index') }}">{{ 'Online platform for cooperation tourism'|trans }}</a>{% endblock %}</h3>
            </header>
            {% block navbar %}
                <div class="navbar">
                    <div class="navbar-inner">
                        <div class="container">
                            <ul class="nav">
                                <li id="navbar-tab-home"><a href="{{ path('front_index') }}">{{ 'Home'|trans }}</a></li>
                                <li id="navbar-tab-organization"><a href="{{ path('front_organization_index') }}">{{ 'Organizations'|trans }}</a></li>
                                <li id="navbar-tab-contact"><a href="{{ path('front_contact') }}">{{ 'Contact'|trans }}</a></li>
                                <li id="navbar-tab-about"><a href="{{ path('front_about') }}">{{ 'About'|trans }}</a></li>
                            </ul>
                            <ul class="nav pull-right">
                                <li class="dropdown">
                                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">{{ 'Language'|trans }} <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ localize_route('en') }}"><img src="{{ asset('img/blank.gif') }}" class="flag flag-gb" /> {{ 'English'|trans }}</a></li>
                                        <li><a href="{{ localize_route('es') }}"><img src="{{ asset('img/blank.gif') }}" class="flag flag-es" /> {{ 'Spanish'|trans }}</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            {% endblock %}
            <div class="row">
                <div class="span9">
                    {% if app.session.hasFlash('alert-info') %}<div class="alert alert-info fade in"><button class="close" data-dismiss="alert">×</button>{{ app.session.flash('alert-info') }}</div>{% endif %}
                    {% if app.session.hasFlash('alert-success') %}<div class="alert alert-success fade in"><button class="close" data-dismiss="alert">×</button>{{ app.session.flash('alert-success') }}</div>{% endif %}
                    {% if app.session.hasFlash('alert-warning') %}<div class="alert fade in"><button class="close" data-dismiss="alert">×</button>{{ app.session.flash('alert-warning') }}</div>{% endif %}
                    {% if app.session.hasFlash('alert-error') %}<div class="alert alert-error fade in"><button class="close" data-dismiss="alert">×</button>{{ app.session.flash('alert-error') }}</div>{% endif %}
                    {% block body %}{% endblock %}
                </div>
                <div class="span3">
                    {% block sidebar %}{% endblock %}
                </div>
            </div>
            <footer class="footer">
                © 2012 - CooperationTourism.com - {{ 'created by'|trans }} <a href="https://github.com/afemartin">afemartin</a>
            </footer>    
        </div>
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('js/jquery-1.7.2.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
