{% extends 'PFCDTourismBundle:Back:layout.html.twig' %}

{% set sectiontab = 'resource' %}{% set tablesorter = '{ headers: { 0: {sorter: false}, 3: {sorter: false}, 7: {sorter: false}, 8: {sorter: false} }, sortList: [[4,0],[1,0]] }' %}

{% block body %}
<h1>{{ 'back.resource.index.title'|trans }}</h1>
<p>{{ 'back.resource.index.subtitle'|trans }}</p>

<table class="table table-bordered table-condensed">
    <thead>
        <tr>
            <th>{{ 'Id'|trans }}</th>
            <th>{{ 'Name'|trans }}</th>
            <th>{{ 'Type'|trans }}</th>
            <th>{{ 'Note'|trans }}</th>
            <th>{{ 'Created'|trans }}</th>
            <th>{{ 'Updated'|trans }}</th>
            <th>{{ 'Status'|trans }}</th>
            {% if is_granted('ROLE_ADMIN') %}
            <th>{{ 'Organization'|trans }}</th>
            {% endif %}
            <th>{{ 'Edit'|trans }}</th>
        </tr>
    </thead>
    <tbody>
    {% for resource in resources %}
    <tr class="status-{{ resource.status }}">
        <td><a href="{{ path('back_resource_read', { 'id': resource.id }) }}">{{ resource.id }}</a></td>
        <td>{{ resource.name }}</td>
        <td>{{ resource.typeText|trans }}</td>
        <td>{{ resource.note|truncate(50) }}</td>
        <td>{% if resource.created %}{{ resource.created|date('Y-m-d') }}{% endif %}</td>
        <td>{% if resource.updated %}{{ resource.updated|date('Y-m-d') }}{% endif %}</td>
        <td>{{ resource.statusText|trans }}</td>
        {% if is_granted('ROLE_ADMIN') %}
        <td><a href="{{ path('back_organization_read', { 'id': resource.organization.id }) }}">{{ resource.organization.name }}</a></td>
        {% endif %}
        <td><a href="{{ path('back_resource_update', { 'id': resource.id }) }}"><i class="icon-edit"></i></a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<a class="btn btn-primary" href="{{ path('back_resource_create') }}"><i class="icon-plus icon-white"></i> {{ 'back.resource.button.create'|trans }}</a>
{% endblock %}