{% extends 'PFCDTourismBundle:Back:layout.html.twig' %}

{% import "PFCDTourismBundle::macros.html.twig" as macros %}

{% set sectiontab = 'resource' %}{% set helptooltip = 1 %}

{% block body %}
<h1>{{ 'back.resource.read.title'|trans }}</h1>
<p>{{ 'back.resource.read.subtitle'|trans }}</p>

<table class="table table-striped table-bordered table-condensed">
    <colgroup class="first-column"></colgroup>
    <tbody>
        <tr>
            <th>{{ 'Name'|trans }}</th>
            <td>{{ resource.name }}</td>
        </tr>
        <tr>
            <th>{{ 'Note'|trans }}</th>
            <td>{{ resource.note }}</td>
        </tr>
        <tr>
            <th>{{ 'Type'|trans }}</th>
            <td>{{ resource.typeText|trans }}</td>
        </tr>
        <tr>
            <th>{{ 'Activities'|trans }}</th>
            <td>{% for activity in resource.activities %}<a href="{{ path('back_activity_read', { 'id': activity.id }) }}">{{ activity.title }}</a>{% if not loop.last %} - {% endif %}{% endfor %}</td>
        </tr>
        <tr>
            <th>{{ 'Conflict'|trans }}</th>
            <td>{% if resource.conflict %}<i class="icon-ok"></i>{% else %}<i class="icon-remove"></i>{% endif %}</td>
        </tr>
        <tr>
            <th>{{ 'Created'|trans }}</th>
            <td>{{ resource.created|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>{{ 'Updated'|trans }}</th>
            <td>{{ resource.updated|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>{{ 'Status'|trans }}</th>
            <td>{{ resource.statusText|trans }} <a data-original-title="{{ 'form.resource.field.status.help'|trans }}" rel="tooltip" class="field-help-tooltip"><i class="icon-info-sign"></i></a></td>
        </tr>
    </tbody>
</table>

<a class="btn btn-primary" href="{{ path('back_resource_update', { 'id': resource.id }) }}"><i class="icon-pencil icon-white"></i> {{ 'back.resource.button.update'|trans }}</a>
<a class="btn btn-inverse" href="{{ path('back_resource_index') }}"><i class="icon-list-alt icon-white"></i> {{ 'back.resource.button.index'|trans }}</a>
<form id="delete_resource_form" class="pull-right" action="{{ path('back_resource_delete', { 'id': resource.id }) }}" method="post">
    {{ form_widget(delete_form) }}
    <button class="btn btn-danger" type="submit"><i class="icon-trash icon-white"></i> {{ 'back.resource.button.delete'|trans }}</button>
</form>

{{ macros.modalConfirm('delete_resource_form', 'delete_modal') }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
    $('#delete_resource_form').submit(function() { if (!$(this).data('show-confirm')) { $('#delete_modal').modal('show'); return false; } });
    $('#delete_modal').on('show', function() { $('#delete_resource_form').data('show-confirm', true); });
    $('#delete_modal').on('hide', function() { $('#delete_resource_form').data('show-confirm', false); });
</script>
{% endblock %}