{% extends 'PFCDTourismBundle:Back:layout.html.twig' %}

{% import "PFCDTourismBundle::macros.html.twig" as macros %}

{% set sectiontab = 'resource' %}{% set helptooltip = 1 %}

{% block body %}
<h1>{{ 'back.resource.read.title'|trans }}</h1>
<p>{{ 'back.resource.read.subtitle'|trans }}</p>

<table class="table table-striped table-bordered table-condensed">
    <colgroup class="first-column"></colgroup>
    <tbody>
        {% if is_granted('ROLE_ADMIN') %}
        <tr>
            <th>{{ 'Organization'|trans }}</th>
            <td>{{ resource.category.organization.name }}</td>
        </tr>
        {% endif %}
        <tr>
            <th>{{ 'Category'|trans }}</th>
            <td>{{ resource.category.name }}</td>
        </tr>
        <tr>
            <th>{{ 'Name'|trans }}</th>
            <td>{{ resource.name }}</td>
        </tr>
        <tr>
            <th>{{ 'Lock period'|trans }}</th>
            <td>{{ 'From'|trans }}: {% if resource.dateStartLock %}{{ resource.dateStartLock|date('Y-m-d') }}{% endif %} - {{ 'To'|trans }}: {% if resource.dateEndLock %}{{ resource.dateEndLock|date('Y-m-d') }}{% endif %}</td>
        </tr>
        <tr>
            <th>{{ 'Note'|trans }}</th>
            <td>{{ resource.note }}</td>
        </tr>
        <tr>
            <th>{{ 'Reservations'|trans }}</th>
            <td>
                {% if resource.reservations|length > 0 %}
                <table class="table table-bordered table-condensed">
                    <thead>
                        <tr>
                            <th>{{ 'View'|trans }}</th>
                            <th>{{ 'User'|trans }}</th>
                            <th>{{ 'Activity'|trans }}</th>
                            <th>{{ 'Session'|trans }}</th>
                            <th>{{ 'Persons'|trans }}</th>
                            <th>{{ 'Note'|trans }}</th>
                            <th>{{ 'Status'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for reservation in resource.reservations %}
                    <tr class="status-{{ reservation.status }}">
                        <td><a href="{{ path('back_reservation_read', { 'id': reservation.id }) }}"><i class="icon-eye-open"></i></a></td>
                        <td>{% if reservation.user %}<a href="{{ path('back_user_read', { 'id': reservation.user.id }) }}">{{ reservation.user.firstname }}</a>{% endif %}</td>
                        <td><a href="{{ path('back_activity_read', { 'id': reservation.session.activity.id }) }}">{{ reservation.session.activity.title|truncate(25) }}</a></td>
                        <td>{% if reservation.session.date %}{{ reservation.session.date|date('Y-m-d') }}{% endif %} {% if reservation.session.time %}({{ reservation.session.time|date('H:i') }}){% endif %}</td>
                        <td>{{ reservation.persons }}</td>
                        <td>{{ reservation.note|truncate(25) }}</td>
                        <td>{{ reservation.statusText|trans }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>{{ 'Conflict'|trans }}</th>
            <td>{% if resource.conflict %}<i class="icon-ok"></i>{% else %}<i class="icon-remove"></i>{% endif %}</td>
        </tr>
        <tr>
            <th>{{ 'Created'|trans }}</th>
            <td>{{ resource.created|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>{{ 'Updated'|trans }}</th>
            <td>{{ resource.updated|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>{{ 'Status'|trans }}</th>
            <td>
                {{ resource.statusText|trans }} <a data-original-title="{{ 'form.resource.field.status.help'|trans }}" rel="tooltip" class="field-help-tooltip"><i class="icon-info-sign"></i></a>
                {% if resource.status != 3 %}
                <div class="pull-right">
                    <form id="delete_resource_form" style="margin: 0 0 0 5px;" action="{{ path('back_resource_delete', { 'id': resource.id }) }}" method="post">
                        {{ form_widget(delete_form) }}
                        <button class="btn btn-mini btn-danger" type="submit"><i class="icon-trash icon-white"></i> {{ 'back.resource.button.delete'|trans }}</button>
                    </form>
                </div>
                {{ macros.modalConfirm('delete_resource_form', 'delete_modal') }}
                {% endif %}
            </td>
        </tr>
    </tbody>
</table>

<a class="btn btn-inverse" href="{{ path('back_resource_index') }}"><i class="icon-list-alt icon-white"></i> {{ 'back.resource.button.index'|trans }}</a>
{% if resource.status != 3 %}
<a class="btn btn-primary" href="{{ path('back_resource_update', { 'id': resource.id }) }}"><i class="icon-pencil icon-white"></i> {{ 'back.resource.button.update'|trans }}</a>
{% endif %}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
    $('#delete_resource_form').submit(function() { if (!$(this).data('show-confirm')) { $('#delete_modal').modal('show'); return false; } });
    $('#delete_modal').on('show', function() { $('#delete_resource_form').data('show-confirm', true); });
    $('#delete_modal').on('hide', function() { $('#delete_resource_form').data('show-confirm', false); });
</script>
{% endblock %}