{% extends 'PFCDTourismBundle:Back:layout.html.twig' %}

{% block title %}Organizations{% endblock %}

{% block body %}
    <table>
        <thead>
            <tr>
                <td>ID</td>
                <td>Username</td>
                <td>Password</td>
                <td>Name</td>
                <td>Acronim</td>
                <td>ShortDesc</td>
                <td>LongDesc</td>
                <td>Created</td>
                <td>Updated</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
        {% for org in orgs %}
            <tr>
                <td>{{ org.id }}</td>
                <td>{{ org.username }}</td>
                <td>{{ org.password }}</td>
                <td>{{ org.name }}</td>
                <td>{{ org.acronim }}</td>
                <td>{{ org.shortDesc }}</td>
                <td>{{ org.fullDesc }}</td>
                <td>{{ org.created|date('d-m-Y') }}</td>
                <td>{{ org.updated|date('d-m-Y') }}</td>
                <td><a href="{{ path('PFCDTourismBundle_back_organization_update', { 'id': org.id }) }}">Edit</a> | <a href="{{ path('PFCDTourismBundle_back_organization_delete', { 'id': org.id }) }}">Delete</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan=10>There are no organizations in CooperationTourism.com</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}