{% extends 'PFCDTourismBundle:Front:layout.html.twig' %}

{% form_theme edit_form 'PFCDTourismBundle:Form:fields.html.twig' %}

{% block body %}
<h1>{{ 'front.payment.update.title'|trans }}</h1>
<p>{{ 'front.payment.update.subtitle'|trans }}</p>

<div class="well">
    <h3>{{ 'front.payment.summary.title'|trans }}:</h3>
    <hr style="margin-top: 0"/>
    <p><b>{{ 'front.payment.summary.organization'|trans }}</b>: {{ payment.reservation.session.activity.organization.name }}</p>
    <p><b>{{ 'front.payment.summary.activity'|trans }}</b>: {{ payment.reservation.session.activity.title }}</p>
    <p><b>{{ 'front.payment.summary.sessiondate'|trans }}</b>: {{ payment.reservation.session.date|date('Y-m-d') }}</p>
    <p><b>{{ 'front.payment.summary.sessiontime'|trans }}</b>: {% if payment.reservation.session.time %}{{ payment.reservation.session.time|date('H:i') }}{% else %}{{ 'front.payment.summary.sessiontime.undefined'|trans }}{% endif %}</p>
    <p><b>{{ 'front.payment.summary.persons'|trans }}</b>: {{ payment.reservation.persons }} {{ 'Persons'|trans }}</p>
    <p><b>{{ 'front.payment.summary.price'|trans }}</b>: {{ payment.price|number_format_currency(payment.currency) }} {% if payment.reservation.persons > 1 %}<small>({{ payment.reservation.session.activity.price|number_format_currency(payment.reservation.session.activity.currency) }}/{{ 'Person'|trans }})</small>{% endif %}</p>
    <p><b>{{ 'front.payment.summary.status'|trans }}</b>: {{ payment.statusText|trans }}</p>
    <h3>{{ 'front.payment.help.title'|trans }}:</h3>
    <hr style="margin-top: 0"/>
    <p><b>{{ 'Bank transfer'|trans }}</b>: {{ 'front.payment.help.banktransfer'|trans({'%bankname%': payment.reservation.session.activity.organization.bankname, '%bankaccount%': payment.reservation.session.activity.organization.bankaccount})|raw }}</p>
    <p><b>{{ 'Cash'|trans }}</b>: {{ 'front.payment.help.cash'|trans }}</p>
</div>

<form class="form-horizontal" action="{{ path('front_payment_update', { 'id': payment.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <div class="form-actions">
        <button class="btn btn-success" type="submit"><i class="icon-ok icon-white"></i> {{ 'Save changes and send comment'|trans }}</button>
        <a class="btn btn-inverse" href="{{ path('front_payment_read', { 'id': payment.id }) }}"><i class="icon-remove icon-white"></i> {{ 'Cancel changes'|trans }}</a>
        <span class='field-required-desc'>*</span> <b>{{ 'form.field.required.help'|trans }}</b>
    </div>
</form>
{% endblock %}