{% extends 'PFCDTourismBundle:Back:layout.html.twig' %}

{% form_theme form 'PFCDTourismBundle:Form:fields.html.twig' %}

{% set sectiontab = 'user' %}

{% block body %}
<h1>{{ 'back.user.create.title'|trans }}</h1>
<p>{{ 'back.user.create.subtitle'|trans }}</p>

<form class="form-horizontal" action="{{ path('back_user_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <div class="form-actions">
        <button class="btn btn-success" type="submit"><i class="icon-ok icon-white"></i> {{ 'Create'|trans }}</button>
        <a class="btn btn-inverse" href="{{ path('back_user_index') }}"><i class="icon-remove icon-white"></i> {{ 'Cancel'|trans }}</a>
    </div>
</form>
{% endblock %}