{% extends 'PFCDTourismBundle:Back:layout.html.twig' %}

{% set sectiontab = 'user' %}

{% block body %}
<h1>{{ 'back.user.index.title'|trans }}</h1>
<p>{{ 'back.user.index.subtitle'|trans }}</p>

<table class="table table-bordered table-condensed">
    <thead>
        <tr>
            <th>{{ 'Id'|trans }}</th>
            <th>{{ 'Email'|trans }}</th>
            <th>{{ 'Firstname'|trans }}</th>
            <th>{{ 'Lastname'|trans }}</th>
            <th>{{ 'Birthday'|trans }}</th>
            <th>{{ 'Gender'|trans }}</th>
            <th>{{ 'Country'|trans }}</th>
            <th>{{ 'Locale'|trans }}</th>
            <th>{{ 'Created'|trans }}</th>
            <th>{{ 'Updated'|trans }}</th>
            <th>{{ 'Status'|trans }}</th>
            <th>{{ 'Edit'|trans }}</th>
        </tr>
    </thead>
    <tbody>
    {% for user in users %}
    <tr class="status-{{ user.status }}">
        <td><a href="{{ path('back_user_read', { 'id': user.id }) }}">{{ user.id }}</a></td>
        <td>{{ user.email }}</td>
        <td>{{ user.firstname }}</td>
        <td>{{ user.lastname }}</td>
        <td>{% if user.birthday %}{{ user.birthday|date('Y-m-d') }}{% endif%}</td>
        <td>{{ user.genderText }}</td>
        <td>{{ user.country|country }}</td>
        <td>{{ user.locale|locale }}</td>
        <td>{% if user.created %}{{ user.created|date('Y-m-d') }}{% endif%}</td>
        <td>{% if user.updated %}{{ user.updated|date('Y-m-d') }}{% endif%}</td>
        <td>{{ user.statusText }}</td>
        <td><a href="{{ path('back_user_update', { 'id': user.id }) }}"><i class="icon-edit"></i></a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<a class="btn btn-primary" href="{{ path('back_user_create') }}"><i class="icon-plus icon-white"></i> {{ 'back.user.button.create'|trans }}</a>
{% endblock %}