<table id="calendar_table" class="calendar table table-bordered">
    <thead>
        <tr>
            <th colspan="7">
                <a id="calendar_prev_month" class="btn pull-left" onclick="getCalendar({{ activity.id }}, {{ prev.year }}, {{ prev.month }})"><i class="icon-chevron-left"></i></a>
                <span id="calendar_header">{{ ('month.full.' ~ month)|trans }} {{ year }}</span>
                <a id="calendar_next_month" class="btn pull-right" onclick="getCalendar({{ activity.id }}, {{ next.year }}, {{ next.month }})"><i class="icon-chevron-right"></i></a>
            </th>
        </tr>
        <tr>
            {% for i in range(1, 7) %}
                <td>{{ ('dayweek.full.' ~ i)|trans }}</td>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for day in calendar %}
            {% if day.date|date('N') == 1 %}<tr>{% endif %}
                {% set class = '' %}
                {% if day.date|date('n') < month %}{% set class = 'prev-month' %}{% endif %}
                {% if day.date|date('n') > month %}{% set class = 'next-month' %}{% endif %}
                {% if day.date < today %}{% set class = 'past-day' %}{% endif %}
                <td class='{{ class }}'>
                    <div class='label day-number'>{{ day.date|date('j') }}</div>
                    <div class="sessions">
                        {% if day.sessions is defined %}
                            {% for session in day.sessions %}
                                {% set label = 'label-success' %}
                                {% if session.percentage >= 100 %}
                                    {% set label = 'label-important' %}
                                {% elseif session.percentage > 75 %}
                                    {% set label = 'label-warning' %}
                                {% endif %}
                                {# if is date past or session has been set as "locked" it wont be possible to create a reservation for that session #}
                                {% if (day.date < today) or (session.status == 2) %}
                                    <div class="label">{% if session.time != 'undefined' %}{{ session.time|date('H:i') }}{% else %}&nbsp;{% endif %}</div>
                                {% else %}
                                    <div class="session{{ session.id }} label {{ label }}" onclick="selectSession({{ session.id }})">{% if session.time != 'undefined' %}{{ session.time|date('H:i') }}{% else %}&nbsp;{% endif %}</div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </td>
            {% if day.date|date('N') == 7 %}</tr>{% endif %}            
        {% endfor %}
    </tbody>
</table>

<h4>{{ 'Help'|trans }} <a onclick="$('#calendar_help').fadeIn()"><i class="icon-question-sign"></i></a></h4>
<table id="calendar_help" cellpadding="3px" style="display:none; margin-bottom:5px">
    <tr>
        <td align="right"><span class="label label-success">{{ 'calendar.help.available'|trans }}</span></td>
        <td><span>{{ 'calendar.help.available.desc'|trans }}</span></td>
    </tr>
    <tr>
        <td align="right"><span class="label label-warning">{{ 'calendar.help.reducedavailability'|trans }}</span></td>
        <td><span>{{ 'calendar.help.reducedavailability.desc'|trans }}</span></td>
    </tr>
    <tr>
        <td align="right"><span class="label label-important">{{ 'calendar.help.noavailability'|trans }}</span></td>
        <td><span>{{ 'calendar.help.noavailability.desc'|trans }}</span></td>
    </tr>
    <tr>
        <td align="right"><span class="label">{{ 'calendar.help.lock'|trans }}</span></td>
        <td><span>{{ 'calendar.help.lock.desc'|trans }}</span></td>
    </tr>
</table>
