<table id="calendar_table" class="calendar table table-bordered">
    <thead>
        <tr>
            <th colspan="7">
                <a id="calendar_prev_month" class="btn pull-left" onclick="getCalendar({{ activity.id }}, {{ prev.year }}, {{ prev.month }})"><i class="icon-chevron-left"></i></a>
                <span id="calendar_header">{{ ('month.full.' ~ month)|trans }} {{ year }}</span>
                <a id="calendar_next_month" class="btn pull-right" onclick="getCalendar({{ activity.id }}, {{ next.year }}, {{ next.month }})"><i class="icon-chevron-right"></i></a>
            </th>
        </tr>
        <tr>
            {% for i in range(1, 7) %}
                <td>{{ ('dayweek.full.' ~ i)|trans }}</td>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for day in calendar %}
            {% if day.date|date('N') == 1 %}<tr>{% endif %}
                {% set class = '' %}
                {% if day.date|date('n') < month %}{% set class = 'prev-month' %}{% endif %}
                {% if day.date|date('n') > month %}{% set class = 'next-month' %}{% endif %}
                {% if day.date < today %}{% set class = 'past-day' %}{% endif %}
                <td class='{{ class }}'>
                    <div class='label day-number'>{{ day.date|date('j') }}</div>
                    <div class="sessions">
                        {% if day.sessions is defined %}
                            {% for session in day.sessions %}
                                {% set label = 'label-success' %}
                                {% if session.percentage >= 100 %}
                                    {% set label = 'label-important' %}
                                {% elseif session.percentage > 75 %}
                                    {% set label = 'label-warning' %}
                                {% endif %}
                                {% if (day.date < today) %}
                                    {# if is date past it wont be possible to create a reservation for that session #}
                                    <div class="label">{% if session.time != 'undefined' %}{{ session.time|date('H:i') }}{% else %}&nbsp;{% endif %}</div>
                                {% elseif session.status == 2 and not (is_granted('ROLE_ORGANIZATION') or is_granted('ROLE_ADMIN')) %}
                                    {# if session has been set as "locked" it wont be possible to create a reservation for that session from the front-end #}
                                    <div class="label">{% if session.time != 'undefined' %}{{ session.time|date('H:i') }}{% else %}&nbsp;{% endif %}</div>
                                {% elseif session.percentage >= 100 and not (is_granted('ROLE_ORGANIZATION') or is_granted('ROLE_ADMIN')) %}
                                    {# if session is at full capacity it wont be possible to create a reservation for that session from the front-end #}
                                    <div class="label label-important">{% if session.time != 'undefined' %}{{ session.time|date('H:i') }}{% else %}&nbsp;{% endif %}</div>
                                {% elseif session.status == 2 and (is_granted('ROLE_ORGANIZATION') or is_granted('ROLE_ADMIN')) %}
                                    {# if session has been set as "locked" it will be possible to create a reservation for that session from the back-end #}
                                    <div class="session{{ session.id }} label session-capacity-tooltip" onclick="selectSession({{ session.id }})" data-original-title="{{ 'calendar.help.capacity'|trans({ '%available%': session.persons }) }}">{% if session.time != 'undefined' %}{{ session.time|date('H:i') }}{% else %}&nbsp;{% endif %}</div>
                                {% elseif is_granted('ROLE_ORGANIZATION') or is_granted('ROLE_ADMIN') %}
                                    {# in any other case it will be possible to create a reservation for that session from the back-end with a tooltip to know how many places are left #}
                                    <div class="session{{ session.id }} label {{ label }} session-capacity-tooltip" onclick="selectSession({{ session.id }})" data-original-title="{{ 'calendar.help.capacity'|trans({ '%available%': session.persons }) }}">{% if session.time != 'undefined' %}{{ session.time|date('H:i') }}{% else %}&nbsp;{% endif %}</div>
                                {% else %}
                                    {# in any other case it will be possible to create a reservation for that session from the front-end with a tooltip to know how many places are left only for low availability sessions #}
                                    <div class="session{{ session.id }} label {{ label }} {% if session.percentage > 75 %}session-capacity-tooltip{% endif %}" onclick="selectSession({{ session.id }})" {% if session.percentage > 75 %}data-original-title="{{ 'calendar.help.capacity'|trans({ '%available%': session.persons }) }}"{% endif %}>{% if session.time != 'undefined' %}{{ session.time|date('H:i') }}{% else %}&nbsp;{% endif %}</div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </td>
            {% if day.date|date('N') == 7 %}</tr>{% endif %}            
        {% endfor %}
    </tbody>
</table>

<h4>{{ 'Help'|trans }} <a onclick="$('#calendar_help').fadeToggle()"><i class="icon-question-sign"></i></a></h4>
<table id="calendar_help" cellpadding="3px" style="display:none; margin-bottom:5px">
    <tr>
        <td align="right"><span class="label label-success">{{ 'calendar.help.available'|trans }}</span></td>
        <td><span>{{ 'calendar.help.available.desc'|trans }}</span></td>
    </tr>
    <tr>
        <td align="right"><span class="label label-warning">{{ 'calendar.help.reducedavailability'|trans }}</span></td>
        <td><span>{{ 'calendar.help.reducedavailability.desc'|trans }}</span></td>
    </tr>
    <tr>
        <td align="right"><span class="label label-important">{{ 'calendar.help.noavailability'|trans }}</span></td>
        <td><span>{{ 'calendar.help.noavailability.desc'|trans }}</span></td>
    </tr>
    <tr>
        <td align="right"><span class="label">{{ 'calendar.help.lock'|trans }}</span></td>
        <td><span>{{ 'calendar.help.lock.desc'|trans }}</span></td>
    </tr>
</table>

<script type="text/javascript">
    $('.session-capacity-tooltip').tooltip({ 'placement' : 'top' });
</script>