{% extends 'PFCDTourismBundle:Admin:layout.html.twig' %}

{% block title %}Super Administrator Panel{% endblock %}

{% block container %}
    <div class="span4 offset4">
        {% if error %}
            <div class="alert alert-error fade in">
                <button class="close" data-dismiss="alert">×</button>
                {{ error.message }}
            </div>
        {% endif %}
        <form id="login" class="well form-horizontal" action="{{ path('admin_login_check') }}" method="post">
            <div class="control-group">
                <label class="control-label" for="username">{{ 'Username'|trans }}</label>
                <div class="controls">
                    <input id="username" name="_username" type="text" placeholder="{{ 'Username'|trans }}" required="required" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="password">{{ 'Password'|trans }}</label>
                <div class="controls">
                    <input id="password" name="_password" type="password" placeholder="{{ 'Password'|trans }}" required="required" />
                </div>
            </div>
            <div class="form-actions">
                <button class="btn btn-primary" type="submit"><i class="icon-user icon-white"></i> {{ 'Login'|trans }}</button>
            </div>
        </form>
    </div>
{% endblock %}