{% extends 'PFCDTourismBundle:Front:layout.html.twig' %}

{% form_theme form 'PFCDTourismBundle:Other:customFields.html.twig' %}

{% block title %}Contact{% endblock%}

{% block body %}
    <header>
        <h1>Contact us</h1>
    </header>

    <p>Want to send us feedback or report some error?</p>

    {% if app.session.hasFlash('alert-success') %}
        <div class="alert alert-success">
            <button class="close" data-dismiss="alert">×</button>
            {{ app.session.flash('alert-success') }}
        </div>
    {% endif %}

    <form class="form-horizontal" action="{{ path('front_contact') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <div class="form-actions">
            <button class="btn btn-primary" type="submit"><i class="icon-envelope icon-white"></i> Send</button>
        </div>
    </form>
{% endblock %}
    
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $('#navbar-tab-contact').addClass("active");
    </script>
{% endblock %}