{% extends 'PFCDTourismBundle:Front:layout.html.twig' %}

{% form_theme form 'PFCDTourismBundle:Form:fields.html.twig' %}

{% block title %}{{ 'Contact'|trans }}{% endblock%}

{% block body %}
<h1>{{ 'front.contact.title'|trans }}</h1>
<p>{{ 'front.contact.subtitle'|trans }}</p>

<form class="form-horizontal" action="{{ path('front_contact') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <div class="form-actions">
        <button class="btn btn-primary" type="submit"><i class="icon-envelope icon-white"></i> {{ 'Send'|trans }}</button>
        <span class='field-required-desc'>*</span> <b>{{ 'form.field.required.help'|trans }}</b>
    </div>
</form>
{% endblock %}
    
{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
    $('#navbar-tab-contact').addClass("active");
</script>
{% endblock %}