{% extends 'PFCDTourismBundle:Front:layout.html.twig' %}

{% form_theme form 'PFCDTourismBundle:Form:fields.html.twig' %}

{% block title %}{{ 'Remember password'|trans }}{% endblock%}

{% block body %}
<h1>{{ 'front.rememberpassword.title'|trans }}</h1>
<p>{{ 'front.rememberpassword.subtitle'|trans }}</p>

<form class="form-horizontal" action="{{ path('front_remember_password') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <div class="form-actions">
        <button class="btn btn-primary" type="submit"><i class="icon-user icon-white"></i> {{ 'Send'|trans }}</button>
        <span class='field-required-desc'>*</span> <b>{{ 'form.field.required.help'|trans }}</b>
    </div>
</form>
{% endblock %}  
