{% extends 'PFCDTourismBundle:Front:layout.html.twig' %}

{% form_theme form 'PFCDTourismBundle:Form:fields.html.twig' %}

{% block title %}{{ 'Remember password'|trans }}{% endblock%}

{% block body %}
    <header>
        <h1>{{ 'Remember password'|trans }}</h1>
    </header>

    <p>{{ 'Please fill your email account to send a link to your email account in order to allow you to set a new password'|trans }}</p>

    <form class="form-horizontal" action="{{ path('front_remember_password') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <div class="form-actions">
            <button class="btn btn-primary" type="submit"><i class="icon-user icon-white"></i> {{ 'Send'|trans }}</button>
        </div>
    </form>
{% endblock %}  
