{% extends 'PFCDTourismBundle:Front:layout.html.twig' %}

{% form_theme form 'PFCDTourismBundle:Form:fields.html.twig' %}

{% block title %}{{ 'Reset password'|trans }}{% endblock%}

{% block body %}
    <header>
        <h1>{{ 'Reset password'|trans }}</h1>
    </header>

    <p>{{ 'Insert your new password'|trans }}</p>
    
    <form class="form-horizontal" action="#" method="post">
        {{ form_widget(form) }}
        <div class="form-actions">
            <button class="btn btn-primary" type="submit"><i class="icon-user icon-white"></i> {{ 'Send'|trans }}</button>
        </div>
    </form>
    
{% endblock %}  
