<div class="tabbable well mini">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">{{ 'Activities'|trans }}</a></li>
        <li><a href="#tab2" data-toggle="tab">{{ 'News'|trans }}</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade in active" id="tab1">
            {% for activity in activities %}
                <h6>{{ activity.title }}</h6>
                <p>{{ activity.shortDesc }}</p>
            {% else %}
                <p>{{ 'No activities found'|trans }}</p>
            {% endfor %}
        </div>
        <div class="tab-pane fade in" id="tab2">
            <p>{{ 'No news found'|trans }}</p>
        </div>
    </div>
</div>