{# THEME FOR TWITTER BOOTSTRAP OVERRIDE #}
{% extends 'PFCDTourismBundle:Form:fields.html.twig' %}

{# Collection #}
{# Do not show labels for each collection input field #}

{% block collection_widget %}
{% spaceless %}
    {% if prototype is defined %}
        {% set attr = attr|merge({'data-prototype': block('collection_item_widget') }) %}
    {% endif %}
    <div {{ block('widget_container_attributes') }}>
        {{ form_errors(form) }}
        {% for element in form %}
            <div class='span3'>
            {% for field in element %}
                {{ form_widget(field) }}
            {% endfor %}
            </div>
        {% endfor %}
        {{ form_rest(form) }}
    </div>
{% endspaceless %}
{% endblock collection_widget %}

{% block collection_item_widget %}
{% spaceless %}
    {% for field in prototype %}
        {{ form_widget(field) }}
    {% endfor %}
{% endspaceless %}
{% endblock collection_item_widget %}

{% block file_widget %}
{% spaceless %}
    <div class="fileupload fileupload-new" data-fileupload="image">
        <div class="fileupload-new thumbnail image-holder"><img height="135px" src="http://www.placehold.it/180x135&amp;text=upload+image" /></div>
        <div class="fileupload-preview fileupload-exists thumbnail" style="max-height: 135px; line-height: 0px;"></div>
        <div>
            <span class="btn btn-primary btn-file">
                <span class="fileupload-new"><i class="icon-picture icon-white"></i> {{ 'back.form.imageupload.button.upload'|trans }}</span>
                <span class="fileupload-exists"><i class="icon-refresh icon-white"></i> {{ 'back.form.imageupload.button.reload'|trans }}</span>
                <input type="{{ type }}" {{ block('widget_attributes') }} />
            </span>
            <a class="btn btn-danger fileupload-new" data-delete="fileupload"><i class="icon-trash icon-white"></i> {{ 'back.form.imageupload.button.delete'|trans }}</a>
            <a class="btn btn-inverse fileupload-exists" data-dismiss="fileupload"><i class="icon-remove icon-white"></i> {{ 'back.form.imageupload.button.cancel'|trans }}</a>
        </div>
    </div>
{% endspaceless %}
{% endblock file_widget %}

{% block field_widget %}
{% spaceless %}
    {% set type = type|default('text') %}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    {% if help %}
    <span class="help-inline"><a class="field-help-tooltip" rel="tooltip" data-original-title="{{ help|trans }}"><i class="icon-info-sign"></i></a></span>
    {% endif %}
    {% if translatable %}
    <span class="help-inline"><a class="field-help-tooltip" rel="tooltip" data-original-title="{{ 'form.field.translatable.help'|trans({'%language%': translatable|locale}) }}"><img src="{{ asset('img/blank.gif') }}" class="flag flag-{{ translatable }}" /></a></span>
    {% endif %}
{% endspaceless %}
{% endblock field_widget %}