{# THEME FOR TWITTER BOOTSTRAP OVERRIDE #}
{% extends 'PFCDTourismBundle:Form:fields.html.twig' %}

{# Collection #}
{# No pintar las etiquetas para las colecciones de images #}

{% block collection_widget %}
{% spaceless %}
    {% if prototype is defined %}
        {% set attr = attr|merge({'data-prototype': block('collection_item_widget') }) %}
    {% endif %}
    <div {{ block('widget_container_attributes') }}>
        {{ form_errors(form) }}
        {% for element in form %}
            <div class='span3'>
            {% for field in element %}
                {{ form_widget(field) }}
            {% endfor %}
            </div>
        {% endfor %}
        {{ form_rest(form) }}
    </div>
{% endspaceless %}
{% endblock collection_widget %}

{% block collection_item_widget %}
{% spaceless %}
    {% for field in prototype %}
        {{ form_widget(field) }}
    {% endfor %}
{% endspaceless %}
{% endblock collection_item_widget %}