{% extends 'PFCDTourismBundle:Front:layout.html.twig' %}

{% block title %}{{ 'Activities'|trans }}{% endblock%}

{% block body %}
<h1>{{ organization.name }} <small>{{ 'front.organization.activities.title'|trans }}</small></h1>
<p>{{ 'front.organization.activities.subtitle'|trans({'%organization%': organization.name}) }}</p>

{% for activity in activities %}
<div class="info-container row">
    <div class="info-title span9">
        <h2>{{ activity.title }}</h2>
    </div>
    <div class="info-image span2 hidden-phone">
        <img class="thumbnail" alt="{{ activity.title }}" src="{% if activity.image %}{{ activity.image|apply_filter('thumbnail_170x120') }}{% else %}http://placehold.it/170x120&text=no+image{% endif%}" />
    </div>
    <div class="info-desc span7">
        <p>{{ activity.shortDesc }}</p>
        <a class="btn pull-right" href="{{ path('front_activity_read', { 'id': activity.id }) }}"><i class="icon-share-alt"></i> {{ 'Read more'|trans }}</a>
    </div>
</div>
{% if not loop.last %}
<div class="row">
    <div class="info-divisor span9"></div>
</div>
{% endif %}   
{% endfor %}
{% endblock %}
    
{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
    $('#navbar-tab-activity').addClass("active");
</script>
{% endblock %}