{% extends 'PFCDTourismBundle:Front:layout.html.twig' %}

{% block title %}{{ 'News'|trans }}{% endblock%}

{% block body %}
<h1>{{ organization.name }} <small>{{ 'front.organization.articles.title'|trans }}</small></h1>
<p>{{ 'front.organization.articles.subtitle'|trans({'%organization%': organization.name}) }}</p>

{% for article in articles %}
<div class="info-container row">
    <div class="info-title span9">
        <h2>{{ article.title }}</h2>
    </div>
    <div class="info-image span2 hidden-phone">
        <img class="thumbnail" alt="{{ article.title }}" src="{% if article.image %}{{ asset(article.image) }}{% else %}http://placehold.it/160x120&text=no+image{% endif %}" />
    </div>
    <div class="info-desc span7">
        <p>{{ article.shortDesc }}</p>
        <a class="btn pull-right" href="{{ path('front_article_read', { 'id': article.id }) }}"><i class="icon-share-alt"></i> {{ 'Read more'|trans }}</a>
    </div>
</div>
{% if not loop.last %}
<div class="row">
    <div class="info-divisor span9"></div>
</div>
{% endif %}   
{% endfor %}
{% endblock %}
    
{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
    $('#navbar-tab-news').addClass("active");
</script>
{% endblock %}