{% extends 'PFCDTourismBundle:Front:layout.html.twig' %}

{% form_theme form 'PFCDTourismBundle:Form:fields.html.twig' %}

{% block title %}{{ 'Organizations'|trans }}{% endblock%}

{% block body %}
<div class="row">
    <div class="span">
        <h1>{{ 'front.organization.index.title'|trans }}</h1>
        <p>{{ 'front.organization.index.subtitle'|trans }}</p>
    </div>
    {% if countryfilter %}
    <form class="form-inline pull-right" action="{{ path('front_organization_index') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form.country) }}
        {{ form_rest(form) }}
        <button class="btn btn-primary" type="submit"><i class="icon-search icon-white"></i> {{ 'Search'|trans }}</button>
    </form>
    {% endif %}
</div>

{% for organization in organizations %}
<div class="info-container row">
    <div class="info-title span9">
        <h2>{{ organization.name }}</h2>
    </div>
    <div class="info-image span2 hidden-phone">
        <img class="thumbnail" alt="{{ organization.name }}" src="{{ asset(organization.logo) }}" />
        <div style="margin: 5px 0 0 5px">
            <h5><i class="icon-leaf"></i> <a href="{{ path('front_organization_activities', { 'id': organization.id }) }}">{{ 'Activities'| trans}}</a></h5>
            <h5><i class="icon-bullhorn"></i> <a href="{{ path('front_organization_articles', { 'id': organization.id }) }}">{{ 'News'| trans}}</a></h5>
            {% if organization.donate %}
            <h5><i class="icon-gift"></i> <a href="{{ path('front_organization_donate', { 'id': organization.id }) }}">{{ 'Donate'| trans}}</a></h5>
            {% endif %}
            {% if organization.webpage %}
            <h5><i class="icon-share"></i> <a href="{{ organization.webpage }}">{{ 'Webpage'| trans}}</a></h5>
            {% endif %}
            {% if organization.email %}
            <h5><i class="icon-envelope"></i> <a href="{{ path('front_organization_contact', { 'id': organization.id }) }}">{{ 'Contact'| trans}}</a></h5>
            {% endif %}
        </div>
    </div>
    <div class="info-desc span7">
        <p>{{ organization.shortDesc }}</p>
        <a class="btn pull-right" href="{{ path('front_organization_read', { 'id': organization.id }) }}"><i class="icon-share-alt"></i> {{ 'Read more'|trans }}</a>
    </div>
</div>
{% if not loop.last %}
<div class="row">
    <div class="info-divisor span9"></div>
</div>
{% endif %}
{% endfor %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $('#navbar-tab-organization').addClass("active");
    </script>
{% endblock %}