{% extends 'PFCDTourismBundle:Front:layout.html.twig' %}

{% block title %}{{ organization.name }}{% endblock%}

{% block body %}
<h1>{{ organization.name }} {% if organization.acronim %}({{ organization.acronim }}){% endif %}</h1>
<h6>{% if organization.country and organization.city and organization.foundationyear %}{{ 'front.organization.read.subtitle'|trans({'%country%': organization.country|country, '%city%': organization.city, '%year%': organization.foundationyear}) }}{% endif %}</h6>
<div class="info-container row">
    <div class="info-desc span9">
        {% if organization.video %}
        <div class="info-video pull-right">
            {{ organization.video|raw }}
        </div>
        {% endif %}
        <p>{{ organization.shortDesc }}</p>
        <p>{{ organization.fullDesc|raw }}</p>
    </div>
</div>
{% if organization.donate or organization.email %}
<div style="text-align:right">
    {% if organization.donate %}
    <a class="btn btn-mini" href="{{ path('front_organization_donate', { 'id': organization.id }) }}"><i class="icon-gift"></i> {{ 'Donate'|trans }}</a>
    {% endif %}
    {% if organization.email %}
    <a class="btn btn-mini" href="{{ path('front_organization_contact', { 'id': organization.id }) }}"><i class="icon-envelope"></i> {{ 'Contact'|trans }}</a>
    {% endif %}
</div>
{% endif %}

{% if activities|length > 0 or articles|length > 0 %}
<div class="info-container row">
    <div class="span4">
        {% if activities|length > 0 %}<h3>{{ 'front.organization.activities.list'|trans }} <small><a href="{{ path('front_organization_activities', { 'id': organization.id }) }}">{{ 'front.organization.activities.more'|trans }}</a></small></h3>{% endif %}
        {% for activity in activities %}
        <div class="info-container row">
            <div class="info-image span1 hidden-phone">
                <img class="thumbnail" alt="{{ activity.title }}" src="{% if activity.image %}{{ asset(activity.image) }}{% else %}http://placehold.it/170x120&text=no+image{% endif%}" />
            </div>
            <div class="info-desc span3">
                <h4><a href="{{ path('front_activity_read', { 'id': activity.id }) }}">{{ activity.title }}</a></h4>
                <p>{{ activity.shortDesc }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="span4">
        {% if articles|length > 0 %}<h3>{{ 'front.organization.articles.list'|trans }} <small><a href="{{ path('front_organization_articles', { 'id': organization.id }) }}">{{ 'front.organization.articles.more'|trans }}</a></small></h3>{% endif %}
        {% for article in articles %}
        <div class="info-container row">
            <div class="info-image span1 hidden-phone">
                <img class="thumbnail" alt="{{ article.title }}" src="{% if article.image %}{{ asset(article.image) }}{% else %}http://placehold.it/170x120&text=no+image{% endif%}" />
            </div>
            <div class="info-desc span3">
                <h4><a href="{{ path('front_article_read', { 'id': article.id }) }}">{{ article.title }}</a></h4>
                <p>{{ article.shortDesc }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
    $('#navbar-tab-organization').addClass("active");
</script>
{% endblock %}