{% extends 'PFCDTourismBundle:Front:layout.html.twig' %}

{% block body %}
<div class="info-container row">
    <div class="info-title span9">
        <h1>{{ entity.name }} {% if entity.acronim %}({{ entity.acronim }}){% endif %}</h1>
        <h6>{% if entity.country %}Working in {% if entity.city %}{{ entity.city }} ({{ entity.country|country }}){% else %}{{ entity.country|country }}{% endif %}{% if entity.foundationyear %} since {{ entity.foundationyear }}{% endif %}{% endif %}</h6>
    </div>
    <div class="info-desc span9">
        {% if entity.video %}
        <div class="info-video pull-right">
            {{ entity.video|raw }}
        </div>
        {% endif %}
        <p>{{ entity.shortDesc }}</p>
        <p>{{ entity.fullDesc }}</p>
    </div>
</div>

{% for activity in activities %}
<div class="info-container row">
    <div class="info-title span9">
        <h2>{{ activity.title }}</h2>
    </div>
    <div class="info-image span2 hidden-phone">
        <img class="thumbnail" alt="{{ activity.title }}" src="http://placehold.it/160x120" />
    </div>
    <div class="info-desc span7">
        <p>{{ activity.shortDesc }}</p>
        <a class="btn pull-right" href="{{ path('front_activity_show', { 'id': activity.id }) }}"><i class="icon-share-alt"></i> {{ 'Read more'|trans }}</a>
    </div>
</div>
{% if not loop.last %}
<div class="row">
    <div class="info-divisor span9"></div>
</div>
{% endif %}   
{% endfor %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $('#navbar-tab-organization').addClass("active");
    </script>
{% endblock %}