{% extends 'PFCDTourismBundle:Back:layout.html.twig' %}

{% form_theme form 'PFCDTourismBundle:Form:fields.html.twig' %}

{% set sectiontab = 'activity' %}{% set helptooltip = 1 %}{% set fileupload = 1 %}{% set wysihtml5 = 1 %}

{% block body %}
<h1>{{ 'back.activity.create.title'|trans }}</h1>
<p>{{ 'back.activity.create.subtitle'|trans }}</p>

<form class="form-horizontal" action="{{ path('back_activity_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <div class="form-actions">
        <button class="btn btn-success" type="submit"><i class="icon-ok icon-white"></i> {{ 'Create'|trans }}</button>
        <a class="btn btn-inverse" href="{{ path('back_activity_index') }}"><i class="icon-remove icon-white"></i> {{ 'Cancel'|trans }}</a>
        <span class='field-required-desc'>*</span> <b>{{ 'form.field.required.help'|trans }}</b>
    </div>
</form>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
    $('.fileupload').fileuploader();
</script>
{% endblock %}