{% extends 'PFCDTourismBundle:Back:layout.html.twig' %}

{% import "PFCDTourismBundle::macros.html.twig" as macros %}

{% set sectiontab = 'activity' %}{% set tablesorter = '{ headers: { 0: {sorter: false}, 8: {sorter: false}, 9: {sorter: false}, 10: {sorter: false} }, sortList: [[5,1]] }' %}

{% block body %}
<h1>{{ 'back.activity.index.title'|trans }}</h1>
<p>{{ 'back.activity.index.subtitle'|trans }}</p>

<table class="table table-bordered table-condensed">
    <thead>
        <tr>
            <th>{{ 'Id'|trans }}</th>
            <th>{{ macros.languageFlag(app.session.locale) }} {{ 'Title'|trans }}</th>
            <th>{{ 'Price'|trans }}</th>
            <th>{{ 'Capacity'|trans }}</th>
            <th>{{ 'Duration'|trans }}</th>
            <th>{{ 'Created'|trans }}</th>
            <th>{{ 'Updated'|trans }}</th>
            <th>{{ 'Status'|trans }}</th>
            {% if is_granted('ROLE_ADMIN') %}
            <th>{{ 'Organization'|trans }}</th>
            {% endif %}
            <th colspan="2">{{ 'Edit'|trans }}</th>
            <th colspan="2">{{ 'View'|trans }}</th>
        </tr>
    </thead>
    <tbody>
    {% for activity in activities %}
    <tr class="status-{{ activity.status }}">
        <td><a href="{{ path('back_activity_read', { 'id': activity.id }) }}">{{ activity.id }}</a></td>
        <td>{{ activity.title }}</td>
        <td>{% if activity.price %}{{ activity.price }}{{ activity.currency.sign }}/{{ 'Person'|trans }}{% else %}{{ 'Free'|trans }}{% endif %}</td>
        <td>{{ activity.capacity }} {{ 'Persons'|trans }}</td>
        <td>{% if activity.duration %}{{ macros.timeToDuration(activity.duration) }}{% endif %}</td>
        <td>{% if activity.created %}{{ activity.created|date('Y-m-d') }}{% endif %}</td>
        <td>{% if activity.updated %}{{ activity.updated|date('Y-m-d') }}{% endif %}</td>
        <td>{{ activity.statusText|trans }}</td>
        {% if is_granted('ROLE_ADMIN') %}
        <td><a href="{{ path('back_organization_read', { 'id': activity.organization.id }) }}">{{ activity.organization.name }}</a></td>
        {% endif %}
        <td><a href="{{ path('back_activity_update', { 'id': activity.id }) }}"><i class="icon-pencil"></i></a></td>
        <td><a href="{{ path('back_activity_media', { 'id': activity.id }) }}"><i class="icon-picture"></i></a></td>
        <td><a href="{{ path('back_session_index', { 'activityId': activity.id }) }}"><i class="icon-calendar"></i></a></td>
        <td><a href="{{ path('back_reservation_index', { 'activityId': activity.id }) }}"><i class="icon-book"></i></a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<a class="btn btn-primary" href="{{ path('back_activity_create') }}"><i class="icon-plus icon-white"></i> {{ 'back.activity.button.create'|trans }}</a>
{% endblock %}