{% extends 'PFCDTourismBundle:Back:layout.html.twig' %}

{% import "PFCDTourismBundle::macros.html.twig" as macros %}

{% set sectiontab = 'activity' %}{% set helptooltip = 1 %}

{% block body %}
<h1>{{ 'back.activity.read.title'|trans }}</h1>
<p>{{ 'back.activity.read.subtitle'|trans }}</p>

<table class="table table-striped table-bordered table-condensed">
    <colgroup>
        <col class="first-column">
    </colgroup>
    <tbody>
        <tr>
            <th>{{ 'Id'|trans }}</th>
            <td>{{ activity.id }}</td>
        </tr>
        {% for language, fields in translations %}
            {% for field, value in fields %}
                <tr>
                    <th>{{ macros.languageFlag(language) }} {{ field|capitalize|trans }}</th>
                    <td>{{ value|raw }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <th>{{ 'Title'|trans }}</th>
                <td>{{ activity.title }}</td>
            </tr>
            <tr>
                <th>{{ 'Shortdesc'|trans }}</th>
                <td>{{ activity.shortdesc }}</td>
            </tr>
            <tr>
                <th>{{ 'Fulldesc'|trans }}</th>
                <td>{{ activity.fulldesc|raw }}</td>
            </tr>
        {% endfor %}
        <tr>
            <th>{{ 'Price'|trans }}</th>
            <td>{% if activity.price %}{{ activity.price|number_format_currency(activity.currency) }}/{{ 'Person'|trans }}{% else %}{{ 'Free'|trans }}{% endif %}</td>
        </tr>
        <tr>
            <th>{{ 'Capacity'|trans }}</th>
            <td>{{ activity.capacity }} {{ 'Persons'|trans }}</td>
        </tr>
        <tr>
            <th>{{ 'Duration'|trans }}</th>
            <td>{% if activity.duration %}{{ macros.timeToDuration(activity.duration) }}{% endif %}</td>
        </tr>
        <tr>
            <th>{{ 'Resources'|trans }}</th>
            <td>{% for resource in activity.resources %}<a href="{{ path('back_resource_read', { 'id': resource.id }) }}">{{ resource.name }}</a>{% if not loop.last %} - {% endif %}{% endfor %}</td>
        </tr>
        <tr>
            <th>{{ 'Languages'|trans }}</th>
            <td>{% for language in activity.languages %}{{ macros.languageFlag(language) }} {{ language|locale }}{% if not loop.last %} - {% endif %}{% endfor %}</td>
        </tr>
        <tr>
            <th>{{ 'Created'|trans }}</th>
            <td>{{ activity.created|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>{{ 'Updated'|trans }}</th>
            <td>{{ activity.updated|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>{{ 'Status'|trans }}</th>
            <td>{{ activity.statusText|trans }} <a data-original-title="{{ 'form.activity.field.status.help'|trans }}" rel="tooltip" class="field-help-tooltip"><i class="icon-info-sign"></i></a></td>
        </tr>
    </tbody>
</table>

<a class="btn btn-primary" href="{{ path('back_activity_update', { 'id': activity.id }) }}"><i class="icon-pencil icon-white"></i> {{ 'back.activity.button.update'|trans }}</a>
<a class="btn btn-primary" href="{{ path('back_activity_media', { 'id': activity.id }) }}"><i class="icon-picture icon-white"></i> {{ 'back.activity.button.media'|trans }}</a>
<a class="btn btn-inverse" href="{{ path('back_activity_index') }}"><i class="icon-list-alt icon-white"></i> {{ 'back.activity.button.index'|trans }}</a>
<a class="btn btn-info" href="{{ path('back_activity_preview', { 'id': activity.id }) }}"><i class="icon-eye-open icon-white"></i> {{ 'back.activity.button.preview'|trans }}</a>
<form id="delete_activity_form" class="pull-right" action="{{ path('back_activity_delete', { 'id': activity.id }) }}" method="post">
    {{ form_widget(delete_form) }}
    <button class="btn btn-danger" type="submit"><i class="icon-trash icon-white"></i> {{ 'back.activity.button.delete'|trans }}</button>
</form>

{{ macros.modalConfirm('delete_activity_form', 'delete_modal') }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
    $('#delete_activity_form').submit(function() { if (!$(this).data('show-confirm')) { $('#delete_modal').modal('show'); return false; } });
    $('#delete_modal').on('show', function() { $('#delete_activity_form').data('show-confirm', true); });
    $('#delete_modal').on('hide', function() { $('#delete_activity_form').data('show-confirm', false); });
</script>
{% endblock %}