{% extends 'PFCDTourismBundle:Back:layout.html.twig' %}

{% block body %}
<h1>{{ 'back.activity.read.title'|trans }}</h1>
<p>{{ 'back.activity.read.subtitle'|trans }}</p>

<table class="table table-striped table-bordered table-condensed">
    <tbody>
        <tr>
            <th>{{ 'Id'|trans }}</th>
            <td>{{ activity.id }}</td>
        </tr>
        <tr>
            <th>{{ 'Title'|trans }}</th>
            <td>{{ activity.title }}</td>
        </tr>
        <tr>
            <th>{{ 'Shortdesc'|trans }}</th>
            <td>{{ activity.shortDesc }}</td>
        </tr>
        <tr>
            <th>{{ 'Fulldesc'|trans }}</th>
            <td>{{ activity.fullDesc|raw }}</td>
        </tr>
        <tr>
            <th>{{ 'Price'|trans }}</th>
            <td>{{ activity.price }}</td>
        </tr>
        <tr>
            <th>{{ 'Currency'|trans }}</th>
            <td>{{ activity.currency }}</td>
        </tr>
        <tr>
            <th>{{ 'Datestart'|trans }}</th>
            <td>{% if activity.dateStart %}{{ activity.dateStart|date('Y-m-d') }}{% endif%}</td>
        </tr>
        <tr>
            <th>{{ 'Dateend'|trans }}</th>
            <td>{% if activity.dateEnd %}{{ activity.dateEnd|date('Y-m-d') }}{% endif%}</td>
        </tr>
        <tr>
            <th>{{ 'Timestart'|trans }}</th>
            <td>{% if activity.timeStart %}{{ activity.timeStart|date('H:i') }}{% endif%}</td>
        </tr>
        <tr>
            <th>{{ 'Timeend'|trans }}</th>
            <td>{% if activity.timeEnd %}{{ activity.timeEnd|date('H:i') }}{% endif%}</td>
        </tr>
        <tr>
            <th>{{ 'Created'|trans }}</th>
            <td>{{ activity.created|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>{{ 'Updated'|trans }}</th>
            <td>{{ activity.updated|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>{{ 'Status'|trans }}</th>
            <td>{{ activity.statusText }}</td>
        </tr>
    </tbody>
</table>

<a class="btn btn-primary" href="{{ path('back_activity_update', { 'id': activity.id }) }}"><i class="icon-pencil icon-white"></i> {{ 'back.activity.button.update'|trans }}</a>
<a class="btn btn-inverse" href="{{ path('back_activity_index') }}"><i class="icon-list-alt icon-white"></i> {{ 'back.activity.button.index'|trans }}</a>
<form class="pull-right" action="{{ path('back_activity_delete', { 'id': activity.id }) }}" method="post">
    {{ form_widget(delete_form) }}
    <button class="btn btn-danger" type="submit"><i class="icon-trash icon-white"></i> {{ 'back.activity.button.delete'|trans }}</button>
</form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $('#sidebar-tab-activity').addClass("active");
        $('#sidebar-tab-activity i').addClass("icon-white");
    </script>
{% endblock %}