{% extends 'PFCDTourismBundle:Back:layout.html.twig' %}

{% set sectiontab = 'activity' %}

{% block body %}
<h1>{{ 'back.activity.read.title'|trans }}</h1>
<p>{{ 'back.activity.read.subtitle'|trans }}</p>

<table class="table table-striped table-bordered table-condensed">
    <tbody>
        <tr>
            <th>{{ 'Id'|trans }}</th>
            <td>{{ activity.id }}</td>
        </tr>
        <tr>
            <th>{{ 'Title'|trans }}</th>
            <td>{{ activity.title }}</td>
        </tr>
        <tr>
            <th>{{ 'Price'|trans }}</th>
            <td>{{ activity.price }}</td>
        </tr>
        <tr>
            <th>{{ 'Currency'|trans }}</th>
            <td>{{ activity.currency }}</td>
        </tr>
        <tr>
            <th>{{ 'Capacity'|trans }}</th>
            <td>{{ activity.capacity }}</td>
        </tr>
        <tr>
            <th>{{ 'Datestart'|trans }}</th>
            <td>{% if activity.dateStart %}{{ activity.dateStart|date('Y-m-d') }}{% endif%}</td>
        </tr>
        <tr>
            <th>{{ 'Dateend'|trans }}</th>
            <td>{% if activity.dateEnd %}{{ activity.dateEnd|date('Y-m-d') }}{% endif%}</td>
        </tr>
        <tr>
            <th>{{ 'Timestart'|trans }}</th>
            <td>{% if activity.timeStart %}{{ activity.timeStart|date('H:i') }}{% endif%}</td>
        </tr>
        <tr>
            <th>{{ 'Timeend'|trans }}</th>
            <td>{% if activity.timeEnd %}{{ activity.timeEnd|date('H:i') }}{% endif%}</td>
        </tr>
        <tr>
            <th>{{ 'Monday'|trans }}</th>
            <td>{{ activity.monday }}</td>
        </tr>
        <tr>
            <th>{{ 'Tuesday'|trans }}</th>
            <td>{{ activity.tuesday }}</td>
        </tr>
        <tr>
            <th>{{ 'Wednesday'|trans }}</th>
            <td>{{ activity.wednesday }}</td>
        </tr>
        <tr>
            <th>{{ 'Thursday'|trans }}</th>
            <td>{{ activity.thursday }}</td>
        </tr>
        <tr>
            <th>{{ 'Friday'|trans }}</th>
            <td>{{ activity.friday }}</td>
        </tr>
        <tr>
            <th>{{ 'Saturday'|trans }}</th>
            <td>{{ activity.saturday }}</td>
        </tr>
        <tr>
            <th>{{ 'Sunday'|trans }}</th>
            <td>{{ activity.sunday }}</td>
        </tr>
        <tr>
            <th>{{ 'Created'|trans }}</th>
            <td>{{ activity.created|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>{{ 'Updated'|trans }}</th>
            <td>{{ activity.updated|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>{{ 'Status'|trans }}</th>
            <td>{{ activity.statusText }}</td>
        </tr>
    </tbody>
</table>

<a class="btn btn-primary" href="{{ path('back_activity_update', { 'id': activity.id }) }}"><i class="icon-pencil icon-white"></i> {{ 'back.activity.button.update'|trans }}</a>
<a class="btn btn-primary" href="{{ path('back_activity_media', { 'id': activity.id }) }}"><i class="icon-picture icon-white"></i> {{ 'back.activity.button.media'|trans }}</a>
<a class="btn btn-inverse" href="{{ path('back_activity_index') }}"><i class="icon-list-alt icon-white"></i> {{ 'back.activity.button.index'|trans }}</a>
<a class="btn btn-info" href="{{ path('back_activity_preview', { 'id': activity.id }) }}"><i class="icon-eye-open icon-white"></i> {{ 'back.activity.button.preview'|trans }}</a>
<form class="pull-right" action="{{ path('back_activity_delete', { 'id': activity.id }) }}" method="post">
    {{ form_widget(delete_form) }}
    <button class="btn btn-danger" type="submit"><i class="icon-trash icon-white"></i> {{ 'back.activity.button.delete'|trans }}</button>
</form>
{% endblock %}