{% extends 'PFCDTourismBundle:Front:layout.html.twig' %}

{% block body %}
<h1>Activity list</h1>
<p>In this list there are all the activities registered in the system</p>

{% for entity in entities %}
<div class="info-container row">
    <div class="info-title span9">
        <h2>{{ entity.title }}</h2>
    </div>
    <div class="info-image span2 hidden-phone">
        <img class="thumbnail" alt="{{ entity.title }}" src="{{ asset(entity.image) }}" />
    </div>
    <div class="info-desc span7">
        <p>{{ entity.shortDesc }}</p>
        <a class="btn pull-right" href="{{ path('front_activity_show', { 'id': entity.id }) }}"><i class="icon-share-alt"></i> {{ 'Read more'|trans }}</a>
    </div>
</div>
{% if not loop.last %}
<div class="row">
    <div class="info-divisor span9"></div>
</div>
{% endif %}   
{% endfor %}
{% endblock %}
    
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $('#navbar-tab-activity').addClass("active");
    </script>
{% endblock %}