{% extends 'PFCDTourismBundle:Front:layout.html.twig' %}

{% form_theme form 'PFCDTourismBundle:Form:fields.html.twig' %}

{% block title %}{{ 'Activities'|trans }}{% endblock%}

{% block body %}
<div class="row">
    <div class="span">
        <h1>{{ 'front.activity.index.title'|trans }}</h1>
        <p>{{ 'front.activity.index.subtitle'|trans }}</p>
    </div>
    {% if countryfilter %}
    <form class="form-inline pull-right" action="{{ path('front_activity_index') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form.country) }}
        {{ form_rest(form) }}
        <button class="btn btn-primary" type="submit"><i class="icon-search icon-white"></i> {{ 'Search'|trans }}</button>
    </form>
    {% endif %}
</div>

{% for activity in activities %}
<div class="info-container row">
    <div class="info-title span9">
        <h2>{{ activity.title }} <small><a href="{{ path('front_organization_read', { 'id': activity.organization.id }) }}">{{ activity.organization.name }}</a></small></h2>
    </div>
    <div class="info-image span2 hidden-phone">
        <img class="thumbnail" alt="{{ activity.title }}" src="{% if activity.image %}{{ activity.image|apply_filter('thumbnail_170x120') }}{% else %}http://placehold.it/170x120&text=no+image{% endif%}" />
    </div>
    <div class="info-desc span7">
        <p>{{ activity.shortDesc }}</p>
        <a class="btn pull-right" href="{{ path('front_activity_read', { 'id': activity.id }) }}"><i class="icon-share-alt"></i> {{ 'Read more'|trans }}</a>
    </div>
</div>
{% if not loop.last %}
<div class="row">
    <div class="info-divisor span9"></div>
</div>
{% endif %}   
{% endfor %}
{% endblock %}
    
{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
    $('#navbar-tab-activity').addClass("active");
</script>
{% endblock %}