{% extends 'PFCDTourismBundle:Front:layout.html.twig' %}

{% import "PFCDTourismBundle::macros.html.twig" as macros %}

{% block title %}{{ activity.title }}{% endblock%}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('css/fancybox-1.3.4.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
<h1>{{ activity.title }} <small><a href="{{ path('front_organization_read', { 'id': activity.organization.id }) }}">{{ activity.organization.name }}</a></small></h1>
<div class="info-container row">
    <div class="info-desc span9">
        {% if activity.video %}
        <div class="info-video pull-right">
            {{ activity.video|raw }}
        </div>
        {% endif %}
        <p>{{ activity.shortDesc }}</p>
        {{ activity.fullDesc|raw }}
    </div>
</div>

<h2>{{ 'front.activity.read.details'|trans }}</h2>
<div class="info-details row">
    <div class="span9">
        <p><b>{{ 'Price'|trans }}</b>: {% if activity.price %}{{ activity.price|number_format_currency(activity.currency) }}/{{ 'Person'|trans }}{% else %}{{ 'Free'|trans }}{% endif %}</p>
        {% if activity.duration %}
        <p><b>{{ 'Duration'|trans }}</b>: {{ macros.timeToDuration(activity.duration) }}</p>
        {% endif %}
        <p><b>{{ 'Capacity'|trans }}</b>: {{ activity.capacity }} {{ 'Persons'|trans }}</p>
    </div>
</div>

{% if activity.sessions|length > 0 and activity.status == 1 and activity.organization.status == 1 %}
<h2>{{ 'front.activity.read.availability'|trans }} <small>{{ 'front.activity.read.availability.small'|trans }}</small></h2>
<div class="info-calendar row">
    <div class="span9">
        <div id="reservation_calendar"></div>
        <a id="reservation_create" class="btn btn-primary pull-right disabled" href="#"><i class="icon-pencil icon-white"></i> {{ 'front.reservation.button.create'|trans }}</a>
    </div>
</div>
{% else %}
<h2>{{ 'front.activity.read.availability'|trans }}</h2>
<div class="info-calendar row">
    <div class="span9">{{ 'front.activity.read.sessionsnotfound'|trans }}</div>
</div>
{% endif %}

{% if activity.gallery|length > 0 %}
<h2>{{ 'front.media.read.images'|trans }} <small>{{ 'front.media.read.images.small'|trans }}</small></h2>
<div class="info-gallery row">
    <div class="span9">
        <ul class="thumbnails">
            {% for image in activity.gallery %}
            <li class="span">
                <a class="info-image thumbnail" href="{{ asset(image.path) }}" title="{{ image.description }}" rel="images">
                    <img src="{{ asset(image.path) }}" />
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}

{% if activity.geolocation %}
<h2>{{ 'front.media.read.geolocation'|trans }} <small>{{ 'front.media.read.geolocation.small'|trans }}</small></h2>
<div class="info-map row">
    <div class="span">
        <div id="map_modal" class="modal hide">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3>{{ 'front.media.read.geolocation'|trans }}</h3>
            </div>
            <div class="modal-body">
                <div id="map_canvas"></div>
            </div>
        </div>
        <a class="thumbnail">
            <img src="http://maps.googleapis.com/maps/api/staticmap?maptype=hybrid&size=640x320&zoom={{ activity.zoom|default('10') }}&markers={{ activity.geolocation }}&sensor=false" onclick="initialize()"/>
        </a>
    </div>
</div>
{% endif %}

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
    $('#navbar-tab-activity').addClass("active");
</script>

<script type="text/javascript" src="{{ asset('js/fancybox-1.3.4.min.js') }}"></script>
<script type="text/javascript">
    $("a.info-image").fancybox( { 'titlePosition' : 'over' } );
</script>

{% if activity.geolocation %}
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key={{ google_maps_key }}&sensor=false"></script>
<script type="text/javascript">
    function initialize() {
        var latlng = new google.maps.LatLng({{ activity.geolocation }});
        var myOptions = {zoom: {{ activity.zoom|default('10') }}, scrollwheel: false, scaleControl: true, center: latlng, mapTypeId: google.maps.MapTypeId.HYBRID};
        var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
        var title = "{{ activity.title }}";
        var marker = new google.maps.Marker({ position: latlng, map: map, title: title });
        var infowindow = new google.maps.InfoWindow({ content: title });

        google.maps.event.addListener(marker, 'click', function() {
            infowindow.open(map, marker);
        });
        
        $('#map_modal').modal('show');
        
        // each time the google map modal is open it resize and set the original center position
        google.maps.event.trigger(map, 'resize');
        map.setCenter(marker.getPosition());
    }
</script>
{% endif %}

{% if activity.sessions %}
    <script type="text/javascript">
        getCalendar({{ activity.id }}, {{ 'now'|date('Y') }}, {{ 'now'|date('m') }});
        
        function getCalendar(id, year, month)
        {
            if ($('#calendar_header').length > 0)
            {
                $('#calendar_prev_month').attr('onclick', 'return false');
                $('#calendar_prev_month').attr('disabled', 'disabled');
                $('#calendar_next_month').attr('onclick', 'return false');
                $('#calendar_next_month').attr('disabled', 'disabled');
                $('#calendar_header').html('<i class="icon-loading" style="vertical-align:middle"></i> {{ 'Loading'|trans }}...');
                $('#calendar_table').css({ opacity: 0.75 });
            }
            else
            {    
                $('#reservation_calendar').prepend('<i class="icon-loading"></i> {{ 'Loading'|trans }}...');
            }
            
            $('#reservation_create').addClass('disabled');
            $('#reservation_create').attr('href', '#');
            
            $.ajax({
                type: "GET",
                data: "id=" + id + "&year=" + year + "&month=" + month,
                url: "{{ path('front_activity_calendar') }}",
                success: function(calendar) {
                    $('#reservation_calendar').html(calendar);
                }
            });
        }
        
        function selectSession(id)
        {
            $('#reservation_create').attr('href', '{{ path('front_reservation_create', { 'activityId': activity.id, 'sessionId': null }) }}' + '/' + id);
            $('#reservation_create').removeClass('disabled');
            $('.calendar .label.active').removeClass('active');
            $('.session'+id).addClass('active');
        }
    </script>
{% endif %}
{% endblock %}