{% extends 'PFCDTourismBundle:Admin:layout.html.twig' %}

{% form_theme edit_form 'PFCDTourismBundle:Other:customFields.html.twig' %}

{% block body %}
<h1>Organization edit</h1>
<p>Use this form to edit the organization information. Organization information should only be changed by the own user!</p>

<form class="form-horizontal" action="{{ path('admin_organization_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <div class="form-actions">
        <button class="btn btn-success" type="submit"><i class="icon-ok icon-white"></i> {{ 'Save changes'|trans }}</button>
        <a class="btn btn-inverse" href="{{ path('admin_organization_index') }}"><i class="icon-remove icon-white"></i> {{ 'Cancel changes'|trans }}</a>
    </div>
</form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $('#sidebar-tab-organization').addClass("active");
    </script>
{% endblock %}