{% extends 'PFCDTourismBundle:Admin:layout.html.twig' %}

{% block body %}
<h1>Organization list</h1>
<p>In this list there are all the organizationes registered in the system</p>

<table class="table table-bordered table-condensed">
    <thead>
        <tr>
            <th>{{ 'Id'|trans }}</th>
            <th>{{ 'Username'|trans }}</th>
            <th>{{ 'Email'|trans }}</th>
            <th>{{ 'Name'|trans }}</th>
            <th>{{ 'Acronim'|trans }}</th>
            <th>{{ 'Country'|trans }}</th>
            <th>{{ 'City'|trans }}</th>
            <th>{{ 'Created'|trans }}</th>
            <th>{{ 'Updated'|trans }}</th>
            <th>{{ 'Status'|trans }}</th>
            <th>{{ 'Edit'|trans }}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
    <tr class="status-{{ entity.status }}">
        <td><a href="{{ path('admin_organization_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
        <td>{{ entity.username }}</td>
        <td>{{ entity.email }}</td>
        <td>{{ entity.name }}</td>
        <td>{{ entity.acronim }}</td>
        <td>{{ entity.country|country }}</td>
        <td>{{ entity.city }}</td>
        <td>{% if entity.created %}{{ entity.created|date('Y-m-d') }}{% endif%}</td>
        <td>{% if entity.updated %}{{ entity.updated|date('Y-m-d') }}{% endif%}</td>
        <td>{{ entity.statusText }}</td>
        <td><a href="{{ path('admin_organization_edit', { 'id': entity.id }) }}"><i class="icon-edit"></i></a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<a class="btn btn-primary" href="{{ path('admin_organization_new') }}"><i class="icon-plus icon-white"></i> Create a new organization</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $('#sidebar-tab-organization').addClass("active");
    </script>
{% endblock %}