{# reusable macros to avoid code replication #}

{% macro timeToDuration(days, time) %}
{% set days = days %}
{% set hours = time|date('G') %}
{% set minutes = time|date('i') %}
{% if days > 1 %}
    {{ days }} {{ 'Days'|trans }}
{% elseif days == 1 %}
    {{ days }} {{ 'Day'|trans }}
{% endif %}
{% if hours > 1 %}
    {{ hours }} {{ 'Hours'|trans }}
{% elseif hours == 1 %}
    {{ hours }} {{ 'Hour'|trans }}
{% endif %}
{% if minutes > 0 %}
    {{ minutes }} {{ 'Minutes'|trans }}
{% endif %}
{% endmacro %}

{% macro modalConfirm(formId, modalId, title, content, accept, cancel) %}
{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_ORGANIZATION') %}{% set domain = 'back' %}{% else %}{% set domain = 'front' %}{% endif %}
<div id="{{ modalId }}" class="modal hide">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>{{ title|default('modal.defaultconfirm.title')|trans }}</h3>
    </div>
    <div class="modal-body">
        {{ content|default('modal.defaultconfirm.' ~ domain ~ '.content')|trans|raw }}
    </div>
    <div class="modal-footer">
        <a class="btn btn-success" onclick="$('#{{ formId }}').submit()"><i class="icon-ok icon-white"></i> {{ accept|default('OK')|trans }}</a>
        <a data-dismiss="modal" class="btn btn-inverse"><i class="icon-remove icon-white"></i> {{ cancel|default('Cancel')|trans }}</a>
    </div>
</div>
{% endmacro %}

{% macro modalHelp(entity) %}
<div id="{{ entity }}_modal_help" class="modal hide">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>{{ ('modal.help.' ~ entity ~ '.title')|trans }}</h3>
    </div>
    <div class="modal-body">
        {{ ('modal.help.' ~ entity ~ '.content')|trans|raw }}
    </div>
</div>
{% endmacro %}

{% macro languageFlag(language) %}
<img src="{{ asset('img/blank.gif') }}" class="flag flag-{{ language }}" />
{% endmacro %}
