<p>Hola {{ user.fullname }},</p>

<p>Gracias por registrarte en nuestra página web <a href="{{ url('front_index') }}">{{ domain_name }}</a></p>

<p>El último paso para completar to registro es activar la cuenta usando este <a href="{{ url('front_activate_user', { 'id': user.id, 'key': user.activationKey }) }}">enlace</a></p>

<p>Si el enlace anterior no funciona copie y pegue esta url en su navegador: {{ url('front_activate_user', { 'id': user.id, 'key': user.activationKey }) }}</p>

<p>Atentamente, el equipo de {{ domain_name }}</p>
