<p>A contact enquiry was made by {{ enquiry.name }} ({{ enquiry.email }})</p>

<p>Subject: {{ enquiry.subject }}</p>
<p>Message: {{ enquiry.message }}</p>

<p>Sincerely, the {{ domain_name }} team</p>
