<p>Hola {{ user.firstname }},</p>

<p>Ha solicitado en nuestra web <a href="{{ url('front_index') }}">{{ domain_name }}</a> restaurar su contraseña, podrá hacerlo usando este <a href="{{ url('front_reset_password', { 'id': user.id, 'key': user.resetKey }) }}">enlace</a></p>

<p>Si el enlace anterior no funciona copie y pegue esta url en su navegador: {{ url('front_reset_password', { 'id': user.id, 'key': user.resetKey }) }}</p>

<p>Atentamente, el equipo de {{ domain_name }}</p>