<p>Hello {{ organization.name }},</p>

<p>The user <a href="{{ url('back_user_read', { 'id': user.id }) }}">{{ user.fullname }}</a> ({{ user.email }}) has created a new reservation for the activity "{{ reservation.session.activity.title }}"</p>

<p>Please, login in to the administration panel to accept the <a href="{{ url('back_reservation_read', { 'id': reservation.id }) }}">reservation</a></p>

<p>Sincerely, the {{ domain_name }} team</p>
