{% extends 'PFCDTourismBundle:Back:layout.html.twig' %}

{% form_theme edit_form 'PFCDTourismBundle:Form:fields_gallery.html.twig' %}

{% set sectiontab = 'news' %}{% set helptooltip = 1 %}{% set fileupload = 1 %}{% set fancybox = 1 %}

{% block body %}
<h1>{{ 'back.article.update.title'|trans }}</h1>
<p>{{ 'back.article.update.subtitle'|trans }}</p>

<form class="form" action="{{ path('back_article_media', { 'id': article.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_errors(edit_form) }}

    <div class="row v-spaced">
        <div class="span12">
            <h1>{{ 'Gallery'|trans }}</h1>
            <p>{{ 'back.media.gallery.subtitle'|trans }}</p>
            <div class="row">
                {# store the prototype on the data-prototype attribute #}
                {{ form_widget(edit_form.gallery) }}
                <div class="span3">
                    <a id="add-another-image" class="btn btn-primary" onclick="addImageForm()"><i class="icon-plus icon-white"></i> {{ 'back.media.button.addimage'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
        
    <hr/>

    <div class="row">
        <div class="span6">
            <h1>{{ 'Video'|trans }}</h1>
            <p>{{ 'back.media.video.subtitle'|trans }}</p>
            {{ form_errors(edit_form.video) }}
            {{ form_widget(edit_form.video) }}
            <a id="video-help" href="{{ asset('img/embed_youtube_video.' ~ app.session.locale ~ '.png') }}" title="{{ 'form.media.field.video.help'|trans }}" class="btn btn-info"><i class="icon-question-sign icon-white"></i> {{ 'back.media.button.help'|trans }}</a>
            <a class="btn btn-primary" onclick="videoPreview()"><i class="icon-film icon-white"></i> {{ 'back.media.button.preview'|trans }}</a>
            <div id="video-preview" style="margin-top: 20px"></div>
        </div>    
        
        {{ form_rest(edit_form) }}

        <div class="span12 form-actions">
            <button class="btn btn-success" type="submit"><i class="icon-ok icon-white"></i> {{ 'Save changes'|trans }}</button>
            <a class="btn btn-inverse" href="{{ path('back_article_read', { 'id': article.id }) }}"><i class="icon-remove icon-white"></i> {{ 'Cancel changes'|trans }}</a>
            <span class='field-required-desc'>*</span> <b>{{ 'form.field.required.help'|trans }}</b>
        </div>
    </div>
            
</form>

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
    $('.fileupload').fileuploader({'collection' : true});
</script>
<script type="text/javascript">
    {% for image in article.gallery %}
    $('.image-holder img').first().attr('src', '{{ asset(image.path)}}');
    $('.image-holder').first().removeClass('image-holder');
    {% endfor %}
</script>
<script type="text/javascript" src="{{ asset('js/fancybox-1.3.4.min.js') }}"></script>
<script type="text/javascript">
    $("a#video-help").fancybox( { 'titlePosition' : 'over' } );
</script>
<script type="text/javascript">
    videoPreview();
    function videoPreview ()
    {
        var url = $('#media_video').val();
        if (url) $('#video-preview').html(url);
        return false;
    }    
</script>
<script type="text/javascript">
    var imageCount = '{{ edit_form.gallery | length }}';
    function addImageForm ()
    {
        var imageList = $('#media_gallery');
        var newWidget = imageList.attr('data-prototype');
        
        // replace the "$$name$$" used in the id and name of the prototype with a number
        // that's unique to our emails end name attribute looks like name="contact[emails][2]"
        newWidget = newWidget.replace(/\$\$name\$\$/g, imageCount);
        imageCount++;

        // create a new list element and add it to our list
        var newLi = $('<div class="span3"></div>').html(newWidget);
        newLi.appendTo($('#media_gallery'));

        // reload the fileupload-bootstrap script
        newLi.find('.fileupload').fileuploader({'collection' : true});

        return false;
    }    
</script>
{% endblock %}