{% extends 'PFCDTourismBundle:Back:layout.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('css/fancybox-1.3.4.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
<h1>{{ article.title }} <small><a href="{{ path('front_organization_read', { 'id': article.organization.id }) }}">{{ article.organization.name }}</a></small></h1>
<div class="info-container row">
    <div class="info-desc span9">
        {% if article.video %}
        <div class="info-video pull-right">
            {{ article.video|raw }}
        </div>
        {% endif %}
        <p>{{ article.shortDesc }}</p>
        {{ article.fullDesc|raw }}
    </div>
            
    <div class="span3">
        <div class="well well-small">
            <h1>{{ 'Preview'|trans }}</h1>
            <p>{{ 'back.entity.preview.actions'|trans }}</p>
            <p><a class="btn btn-primary" href="{{ path('back_article_update', { 'id': article.id }) }}"><i class="icon-pencil icon-white"></i> {{ 'back.article.button.update'|trans }}</a></p>
            <p><a class="btn btn-primary" href="{{ path('back_article_media', { 'id': article.id }) }}"><i class="icon-picture icon-white"></i> {{ 'back.article.button.media'|trans }}</a></p>
            <p><a class="btn btn-inverse" href="{{ path('back_article_index') }}"><i class="icon-list-alt icon-white"></i> {{ 'back.article.button.index'|trans }}</a></p>
        </div>
    </div>
</div>

{% if article.gallery|length > 0 %}
<h2>{{ 'front.media.read.images'|trans }} <small>{{ 'front.media.read.images.small'|trans }}</small></h2>
<div class="info-gallery row">
    <div class="span9">
        <ul class="thumbnails">
            {% for image in article.gallery %}
            <li class="span">
                <a class="info-image thumbnail" href="{{ asset(image.path) }}" title="{{ image.description }}" rel="images">
                    <img src="{{ asset(image.path) }}" />
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
    $('#navbar-tab-news').addClass("active");
</script>

<script type="text/javascript" src="{{ asset('js/fancybox-1.3.4.min.js') }}"></script>
<script type="text/javascript">
    $("a.info-image").fancybox( { 'titlePosition' : 'over' } );
</script>
{% endblock %}